link(href='styles/ipad-landscape.css' rel='stylesheet')

.section.section-contacts.is-ipad-landscape
	.section-contacts__data
		a.section-contacts__data-link(href='+74952587488') +7 (495) 258 74 88
		br
		a.section-contacts__data-link.section-contacts__data-link-email(href='mailto:info@ailove.ru') info@ailove.ru
		br
		| 119991, Москва,
		br
		| Ленинский пр-кт,
		br
		| д. 6, стр. 20

	.map
		.map-fig.map-fig-0.g-abs(data-street='Шаболовка') Большая Якиманка
		.map-fig.map-fig-1.g-abs(data-passage='Проезд Апакова') Ленинский проспект
		.map-fig.map-fig-2.g-abs(data-street='Садовое кольцо') Садовое кольцо / Крымский вал
		.map-fig-3.map-fig-subway.g-abs Октябрьская <br> (радиальная)
		.map-fig-4.map-fig-subway.map-fig-subway-right.g-abs Октябрьская<br>(кольцевая)
		.map-fig-5.map-fig-buildings.g-abs

	.section-contacts__social.social-circle.social-circle_theme_section-contacts.g-abs
		a.social-circle-link.social-circle-facebook.social-circle-contacts-facebook(href=jv0)
			span.social-triangle.social-triangle-facebook
		a.social-circle-link.social-circle-twitter.social-circle-contacts-twitter(href=jv0)
			span.social-triangle.social-triangle-twitter
