
<div class="background yellow">
	<hr class="line_1 red">
	<hr class="line_2 white">
	<div class="circle c1 blue"></div>
	<hr class="line_3 green">
</div>
<aside>
	<hr class="line_1 blue">
	<hr class="line_2">
	<h3>Client</h3>
	<p>Lorem ipsum dolor.</p>
	<h3>Purpose</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, nostrum, cumque aliquam obcaecati id accusantium explicabo dolorum doloribus fugit maiores modi consequuntur aliquid optio? Voluptatibus, tenetur, sunt quas deleniti itaque voluptatem hic nam quaerat vel consectetur tempore natus alias rem.</p>
	<h3>Idea</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non earum minima perspiciatis corporis quis. Error, ratione, similique, veniam, laborum aspernatur sed dolore perspiciatis tenetur autem facilis voluptatum quibusdam voluptatibus explicabo?</p>
	<h3>Tags:</h3>
	<ul>
		<li class="Site"></li>
		<li class="Mobile"></li>
		<li class="SEO"></li>
		<li class="Interactive"></li>
		<li class="Strategy"></li>
	</ul>
</aside>

<article>
	<h1></h1>
	<h2>Implementation</h2>
	<div class="img"><img></div>
	<a href="http://super-sobaka.ru" class="visitSite">Visit site</a>

	<div class="text">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, quasi aut error veritatis iure earum obcaecati voluptatibus numquam. Omnis, beatae rerum deleniti nesciunt illum est animi neque eius voluptatum. Totam, magni, beatae, deserunt ab nemo sint voluptates iure voluptas nulla quisquam dolorum velit facilis iusto aperiam minus tempore at adipisci provident vitae cupiditate. Vitae, itaque totam a optio facere iure modi. Quisquam, sequi quod aliquid alias ipsum ea unde consequuntur!</p>
		<p>Harum, eos, mollitia soluta iste dicta quibusdam ipsum tempore a illo ratione voluptates nam earum quod dolorem aliquam pariatur nihil non eum placeat natus consequuntur adipisci suscipit eveniet reiciendis sequi deleniti aliquid esse tempora illum veniam commodi laudantium velit sint optio recusandae magni aperiam possimus vel error eaque. Quos, totam, cum, facilis, quod quia quis autem culpa itaque accusantium non architecto possimus perferendis eius aspernatur nihil laboriosam inventore nulla nemo?</p>
	</div>
	<div class="info">
		<p><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, inventore, esse quia ducimus ut dolore odit facere quos non laboriosam fuga vitae ipsum hic enim vero ad exercitationem quasi. Consequatur, necessitatibus eius deleniti voluptatibus soluta incidunt facilis maiores laboriosam pariatur reiciendis aut aspernatur quisquam beatae quia qui quos nihil dignissimos tenetur suscipit accusantium libero eligendi saepe. Nemo, perferendis, in quidem laborum eveniet minima omnis architecto odio beatae voluptate. Rerum, vitae!</i></p>
		<div class="triangle">
			<div class="green"></div>
		</div>
	</div>

	<div class="slider">
		<input type="radio" name="slider" id="img_1" checked>
		<label for="img_1"><span></span>
		<hr></label>
		<input type="radio" name="slider" id="img_2">
		<label for="img_2"><span></span>
		<hr></label>
		<input type="radio" name="slider" id="img_3">
		<label for="img_3"><span></span>
		<hr></label>
		<input type="radio" name="slider" id="img_4">
		<label for="img_4"><span></span>
		<hr></label>
		<input type="radio" name="slider" id="img_5">
		<label for="img_5"><span></span>
		<hr></label>
		<div>
			<div class="imgcontainer"><img src="ajax/super-sobaka/slide/1.jpg" height="755" width="989"></div>
			<div class="imgcontainer"><img src="http://fakeimg.pl/1000x800/00CED1/FFF/?text=img+placeholder"></div>
			<div class="imgcontainer"><img src="http://fakeimg.pl/1000x800/cc9/FFF/?text=img+placeholder"></div>
			<div class="imgcontainer"><img src="http://fakeimg.pl/1000x800/99c/FFF/?text=img+placeholder"></div>
			<div class="imgcontainer"><img src="http://fakeimg.pl/1000x800/9c9/FFF/?text=img+placeholder"></div>
		</div>
	</div>
	
	<div class="text">
		<div class="awards">
			<h4>Awards</h4>
			<ul>
				<li>2013: <span>The FWA / Site of the day</span></li>
				<li>2014: <span>Red Apple / Gold</span></li>
			</ul>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, quasi aut error veritatis iure earum obcaecati voluptatibus numquam. Omnis, beatae rerum deleniti nesciunt illum est animi neque eius voluptatum. Totam, magni, beatae, deserunt ab nemo sint voluptates iure voluptas nulla quisquam dolorum velit facilis iusto aperiam minus tempore at adipisci provident vitae cupiditate. Vitae, itaque totam a optio facere iure modi. Quisquam, sequi quod aliquid alias ipsum ea unde consequuntur!</p>
		<p>Harum, eos, mollitia soluta iste dicta quibusdam ipsum tempore a illo ratione voluptates nam earum quod dolorem aliquam pariatur nihil non eum placeat natus consequuntur adipisci suscipit eveniet reiciendis sequi deleniti aliquid esse tempora illum veniam commodi laudantium velit sint optio recusandae magni aperiam possimus vel error eaque. Quos, totam, cum, facilis, quod quia quis autem culpa itaque accusantium non architecto possimus perferendis eius aspernatur nihil laboriosam inventore nulla nemo?</p>
		<div class="top">
			<div class="triangle">
				<div class="green"></div>
			</div>
			<span>Top</span>
		</div>

		<ul>
			<li>Lorem ipsum. <span>Lorem ipsum.</span></li>
			<li>Expedita, eos. <span>Sit, aut.</span></li>
			<li>Repudiandae, numquam. <span>Ducimus, id.</span></li>
			<li>At, nobis! <span>Iste, cumque!</span></li>
			<li>Minima, animi. <span>Ex, minima.</span></li>
			<li>Quidem, nesciunt! <span>Praesentium, perferendis?</span></li>
			<li>Aspernatur, voluptas. <span>Illum, blanditiis.</span></li>
			<li>Qui, quas. <span>Maxime, debitis.</span></li>
			<li>Distinctio, beatae. <span>Eligendi, perspiciatis.</span></li>
			<li>Tempore, quaerat. <span>Provident, sequi.</span></li>
		</ul>
		<hr class="line_1 blue">
		<hr class="line_2 green">
		<hr class="line_3 green">
		<hr class="line_4 yellow">
	</div>

	<div class="info">
		<h3>Results</h3>
		<hr class="line_1 blue">
		<div class="result">
			<p><span>9500</span> visits per mounth</p>
			<p><span>164</span> new volunteers <br> per 1-st mounth</p>
		</div>
		<hr class="line_2 red">
	</div>

</article>

<script>
	var workName = location.hash.slice(6),
			workContainer = parallax.show.querySelector( '.work_' + workName ),
			topButton = workContainer.querySelector( 'div.top' );

			workContainer.querySelector( '.fullview h1' ).innerHTML = parallax.listContainer.querySelector( 'a[href="' + location.hash + '"]' ).innerHTML;
			workContainer.querySelector( '.fullview .img > img' ).src = 'ajax/' + workName + '/full.jpg';

			topButton.onclick = function() {

			};
</script>