section#aboutus
	.clockwise
		hr.line_1.white.narrow.big
		hr.line_2.white.narrow.long
		hr.line_3.green.thin.short
		hr.line_4.red.narrow.big
		hr.line_5.green.thin.short
		hr.line_6.blue.thin.short
		hr.line_7.yellow
		hr.line_8.blue
		.circle.c1.red
		.circle.c2.green

	.people
		p 
			span 78
			| people
		.triangle
			div

	.projects
		p
			span 96
			| projects
		.triangle
			div

	#bigText
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, quidem ipsa odio dolore veniam quos eius harum sit impedit nesciunt.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, et, ut nihil tempora ipsum optio inventore consequatur saepe velit mollitia omnis alias natus nemo dolorem nisi! Rem, optio, laudantium, minus temporibus atque dolorem minima mollitia laboriosam in illo excepturi harum ipsa voluptatem porro dolor quis obcaecati sint eius veritatis repellat?
							
		.all
			span.a.reverse.animated-letter.rotated-letter
				em(data-letter='a')
					b.horizontal a
					i.horizontal a
			span.l.animated-letter.rotated-letter
				em(data-letter='l')
					b.vertical l
					i.vertical l
			span.l2.animated-letter.rotated-letter
				em(data-letter='l')
					b.vertical l
					i.vertical l

		.is
			span.i.animated-letter.rotated-letter
				em(data-letter='i')
					b.vertical i
					i.vertical i
			span.s.animated-letter.rotated-letter
				em(data-letter='s')
					b.vertical s
					i.vertical s

		.full
			span.f.reverse.animated-letter.rotated-letter
				em(data-letter='f')
					b.horizontal f
					i.horizontal f
			span.u.reverse.animated-letter.rotated-letter
				em(data-letter='u')
					b.horizontal u
					i.horizontal u
			span.l.animated-letter.rotated-letter
				em(data-letter='l')
					b.vertical l
					i.vertical l
			span.l2.animated-letter.rotated-letter
				em(data-letter='l')
					b.vertical l
					i.vertical l

		.of
			span.o.animated-letter.rotated-letter
				em(data-letter='o')
					b.vertical o
					i.vertical o
			span.f.reverse.animated-letter.rotated-letter
				em(data-letter='f')
					b.horizontal f
					i.horizontal f

		.love
			span.l.animated-letter.rotated-letter
				em(data-letter='l')
					b.vertical l
					i.vertical l
			span.o.reverse.animated-letter.rotated-letter
				em(data-letter='o')
					b.horizontal o
					i.horizontal o
			span.v.reverse.animated-letter.rotated-letter
				em(data-letter='v')
					b.horizontal v
					i.horizontal v
			span.e.animated-letter.rotated-letter
				em(data-letter='e')
					b.vertical e
					i.vertical e
