section#contact
	.borderTriangle 
		.triangle 
			div
			
	.circle.c1.blue 
		a(href="#facebook").facebook
		a(href="#facebook").twitter
		.triangle 
			div

		.triangle 
			div

	.clockwise 
		hr.line_1.red.narrow.long
		hr.line_2.blue.narrow.long

	.counterclockwise
		hr.line_1.blue.narrow.long
		hr.line_2.green.narrow.big 

		.lightBlue.street.part1 
			| Садовое кольцо / Крымский вал
			span Октябрьская <br/> (кольцевая)
			
		.lightBlue.street.part2 
			| Садовое кольцо
			span Октябрьская <br/> (радиальная)
			
		.blue.street.part4 
			| Ленинский проспект 
			.building.blue 
				img(src="img/buildings.png" alt="")
				hr.blue 
			
		.blue.street.part3 Большая Якиманка
		.red.street.part5 Шаболовка
		.yellow.street.part6 Проезд Апакова

	p
		| +7 (495) 258 74 88<br/>
		| <a href="mailto:info@ailove.ru">info@ailove.ru</a><br/>
		| 119991, Москва, Ленинский проспект,<br/>
		| д.6, стр. 20