section#wedo
	.triangle
		div
		
	.triangle
		div
		
	.clockwise
		hr.line_top.blue.long.narrow
		hr.line_bottom.yellow.big.medium
		hr.line_1.red.thin.short
		hr.line_3.red
		hr.line_2.yellow
		.circle.c1.green
		.circle.c2.blue
		
	.counterclockwise
		ul
			li.strategy
				p Strategy
					span The right solution <br>for any brands	
			li.creative
				p Creative
					span Interest, enticing and bright <br> core communication	
			li.mobile
				p Mobile
					span Application for mobile <br> platfotms Android ans IOs	
			li.production
				p Production
					span Production and support <br> of sites	
			li.integration
				p Integration
					span Use of opportinites social media <br> ana websites to communicate with users	
			li.smm
				p SMM
					span Competent promotion <br> in social network
			li.seo
				p SEO
					span Promotion of sites <br> in search systems
			.units UNITS