head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	meta(name='HandheldFriendly' content='True')

	// iOS 
	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
	link(href='img/icon/apple-touch-icon-152x152.png' rel='apple-touch-icon')
	link(sizes='57x57' href='img/icon/apple-touch-icon-57x57.png' rel='apple-touch-icon')
	link(sizes='72x72' href='img/icon/apple-touch-icon-72x72.png' rel='apple-touch-icon')
	link(sizes='76x76' href='img/icon/apple-touch-icon-76x76.png' rel='apple-touch-icon')
	link(sizes='114x114' href='img/icon/apple-touch-icon-114x114.png' rel='apple-touch-icon')
	link(sizes='120x120' href='img/icon/apple-touch-icon-120x120.png' rel='apple-touch-icon')
	link(sizes='144x144' href='img/icon/apple-touch-icon-144x144.png' rel='apple-touch-icon')
	link(sizes='152x152' href='img/icon/apple-touch-icon-152x152.png' rel='apple-touch-icon')

	// Windows 8 
	meta(name='application-name' content='Title')
	meta(name='msapplication-tooltip' content='Description')
	meta(name='msapplication-TileColor' content='#ffffff')
	meta(name='msapplication-TileImage' content='img/icon/tile.png')
	meta(name='msapplication-square70x70logo' content='img/icon/tile.png')
	meta(name='msapplication-square150x150logo' content='img/icon/tile.png')
	meta(name='msapplication-square310x310logo' content='img/icon/tile.png')
	meta(name='msapplication-wide310x150logo' content='img/icon/tile-wide.png')
	meta(name='msapplication-starturl' content='https://csssr.github.io/csssr-project-template/')
	meta(name='msapplication-tap-highlight' content='no')

	// Windows Phone 
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	<!--[if IE]>
	meta(http-equiv='imagetoolbar' content='no')
	meta(http-equiv='msthemecompatible' content='no')
	<![endif]-->
	
	// Blackberry and etc 
	meta(http-equiv='cleartype' content='on')
	meta(name='HandheldFriendly' content='True')

	// No parse telephone and address
	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')

	// SEO 
	title 
	meta(name='description' content='Description')
	meta(name='keywords' content='Keywords')
	meta(name='author' content='tabrisov')
	meta(name='copyright' content='©tabrisov')
	meta(http-equiv='Reply-to' content='jiexa@tabrisov.ru')

	link(href='favicon.ico' rel='shortcut icon')

	if isDev
		link(href='css/main.css' rel='stylesheet')
	else
		link(href='css/main.min.css' rel='stylesheet')
