a.global-nav.portfolio(href="#portfolio") Portfolio
	span.yellow 
a.global-nav.whatwedo(href="#whatwedo") What We Do
	span.green 
a.global-nav.about(href="#about") About Us
	span.red 
a.global-nav.contacts(href="#contacts") Contacts
	span.blue 

.buttons
	a.prevWork(href="#")
		span
	a.nextWork(href="#")
		span
	a.closeWork(href="#portfolio")
		span

span#logo
	a(href="#")