mixin script(scripts)
	- each src in scripts
		script(src=src)

- if (isDev)
	+script([
		'js/libs/jquery-2.1.0.min.js',
		'js/libs/jwplayer/jwplayer.js',
		'js/main.js'
	])
- else
	+script(['js/jwplayer.js']) //- почему-то скрипт не работает в составе main.min.js, нужно объявлять его отдельно
	+script(['js/main.min.js'])
