#aboutus
	bottom 205.885%
	left -90%
	backface-visibility hidden

	/* static lines and rounds */
	.clockwise
		z-index auto

		hr.line_1
			top 15%
			left 56%

		hr.line_2
			bottom 93%
			left 60%

		div.circle.c1
			width 15em
			height 15em
			top -30%
			left 40%

		hr.line_3
			left 62.5%
			top -16%

		hr.line_4
			top 52%
			left 87%

		hr.line_5
			top 77%
			left 83%

		div.circle.c2
			width 7em
			height 7em
			top 136%
			left 36%

		hr.line_6
			top 135%
			left 43%

		hr.line_7
			top 131%
			left 41%
			height 5em
			width .4em

		hr.line_8
			top 93%
			left 48%
			height 1.4em
			width 50%

	/* triangles People and Projects */
	.triangle
		border-right .15em solid rgba(255,255,255,.1)
		div
			border .15em solid rgba(255,255,255,.1)

	.people
		top 14%
		left -.5%
		width 14em
		height 14em
		position absolute

	.people p
	.projects p
		position absolute
		top 55%
		left 50%
		transform translate(-50%, -50%)
		text-align center
		font-size 1.3em
		font-weight 700
		color rgba(255,255,255,.2)

		span
			display block
			color rgba(255,81,81,1)
			font-size 3.5em

	.projects
		bottom 5%
		right -1%
		width 14em
		height 14em
		position absolute

		p
			top 30%

			span
				color rgba(232,183,0,1)

		.triangle
			transform translate(-25%)  scaleY(-1) skew(30deg)

#bigText
	position absolute
	left 40%
	top 40%
	transform translate(-50%, -50%)
	
	&:after
	&:before
		content '\e800'
		position absolute
		color rgba(0,51,255,1)
		font-size 2.6em
		font-family 'fontello'
		bottom 17%
		right 0

	&:before
		bottom auto
		right auto
		left -5%
		top 1%
		transform rotate(180deg)

	/* paragraph */
	& > p:first-of-type
		line-height 1.2em
		font-size .8em
		width 25%
		padding 1.5em 0 1em 2.5em
		color rgba(255,81,81,1)
		text-shadow 0 0 1px rgba(255,81,81,1)

	& > p:last-of-type
		position absolute
		bottom 2em
		right 4em
		line-height 1.3em
		font-size .95em
		width 55%
		color rgba(255,255,255,.2)
		text-shadow 0 0 2px rgba(255,255,255,.2)
		transform translateY(100%)


	/* big text */
	div
		font-size 6em
		text-transform uppercase

		span
			font-weight 900
			position relative
			float left
			margin-right .6em
			margin-bottom .6em
			height 1em
			width 1em
			text-align center

			em
				position relative
				display inline-block
				left 0
				top 0

				&:after
					content attr(data-letter)

				b
				i
					position absolute
					overflow hidden

				i
					display none

				b.vertical
					top 0
					left 0
					right 0
					height 50%
					transform-origin bottom center

				b.horizontal
					top 0
					right 0
					bottom 0
					width 50%
					transform-origin left center

				i.vertical
					left 0
					right 0
					bottom 0
					transform-origin top center

				i.horizontal
					top 0
					left 0
					bottom 0
					transform-origin right center

		span.reverse
			direction rtl

	.animated-letter
		em:after
			color transparent
			opacity 0
		b
			z-index 1
			transition transform .75s ease-in-out .25s
		i
			z-index 2
			display block
			transition transform .75s ease-in-out


		b.vertical
			height 51% !important

		b.horizontal
			width 51% !important
			direction rtl

		i.vertical
			height 50% !important
			direction ltr

		i.horizontal
			width 50%
			direction ltr

		&.f
			b.horizontal
				width 57% !important

			i.horizontal
				width 44% !important
		
		&.l
		&.l2
			b.vertical
				height 64% !important

			i.vertical
				height 37% !important

				&:before
					content ''
					display block
					margin-top -118%

		&.i
			i.vertical
				&:before
					content ''
					display block
					margin-top -158%

		&.s
			i.vertical
				&:before
					content ''
					display block
					margin-top -82%

		&.o
			b.vertical
				height 52%
			
			i.vertical
				&:before
					content ''
					display block
					margin-top -65%
		
		&.e
			i.vertical
				&:before
					content ''
					display block
					margin-top -83%

	.rotated-letter
		b.vertical
			transform rotateX(90deg)

		b.horizontal
			transform rotateY(90deg)
		
		i.vertical
			transform rotateX(-90deg)

		i.horizontal
			transform rotateY(-90deg)
		
		

	
	.all
		float left
		color rgba(23,237,144,1)
		b
			color rgba(0,188,91,1)

	.is
		color rgba(255,212,44,1)
		float left
		b
			color rgba(222,173,0,1)

	.full
		color rgba(66,177,254,1)
		float left
		clear left
		b
			color rgba(31,127,194,1)

	.of
		color rgba(255,110,165,1)
		float left
		clear left
		b
			color rgba(221,82,131,1)

	.love
		color rgba(255,81,81,1)
		float left
		b
			color rgba(221,53,53,1)