#contact
	left 90%
	top 205.885%
	font-weight 700

	/* counterclockwise */
	div.street
		position absolute
		padding 2.2em 0
		text-align center
		color rgba(0,51,255,1)
		font-size 1.1em

	.counterclockwise > div
		display block

		span
			background-color transparent
			position absolute
			bottom -68%
			left 36%
			line-height 1.2em
			padding .5em 3em
			background-image url('../img/subway.png')
			background-repeat no-repeat
			background-position 100% center
			background-size 2.3em

		&.street.part1
			top 20%
			width 100%
			left -40%

		&.street.part2
			top 20%
			width 50%
			left 60%

		&.street.part3
			color rgba(41,137,204,1)
			width 35%
			top 6%
			left 40%
			transform rotate(90deg)

		&.street.part4
			color rgba(41,137,204,1)
			width 95%
			top 42%
			right 33.2%
			transform rotate(-30deg)
		
			.building
				position absolute
				left 8em
				top -7em
				width 2.4em
				height 1.2em
			
				img
					position absolute
					transform rotate(60deg)
					top -3em
					left -7em
					width 13em
				

				hr
					right 0
					bottom 100%
					width .2em
					height 25em
					transform-origin 0 100%
					transform rotate(30deg)
				
		&.street.part5
			color rgba(232,183,0,1)
			padding 1.3em 0
			width 70%
			top 60.5%
			left 32.5%
			transform rotate(90deg)
		

		&.street.part6
			color  rgba(255,81,81,1)
			padding .6em 0
			width 28%
			top 38%
			left 40%
	

	.counterclockwise > div:nth-of-type(2) 
		display block

		span
			background-position 0 center
			bottom 105%
			left 12%
	

	.counterclockwise
		hr.line_1
			left 67%
			top 50%
		

		hr.line_2
			left 57%
			top -38%
	


	/* circle */
	.c1
		width 17em
		height 17em
		top 30%
		right 12%
		
		/* fb-tw link */
		a
			position absolute
			color rgba(255,255,255,1)
			font-family 'fontello'
			z-index 100
			padding .2em
			transition color .5s ease
		
			&.facebook
				font-size 6em
				left 20%
				top 20%

				&:hover
					color rgba(255,81,81,1)
			
				&:before
					content '\e802'
			
			&.twitter
				font-size 2.7em
				right 22%
				top -16%

				&:hover
					color rgba(232,183,0,1)

				&:before
					content '\e803'
	
		.triangle
			top -17%
			left 0%
			border-right .5em solid rgba(41,224,43,1)
			transform translate(-25%) scale(.55) skew(30deg)
		
			& > div
				border .5em solid rgba(41,224,43,1)
			
			&:nth-of-type(2)
				top -32%
				left 48%
				transform translate(-25%) scale(-.4) skew(30deg)
		


	/* clockwise */
	.clockwise 
		display block

		hr.line_1
			left 26%
			bottom 50%
			height 300%

		hr.line_2
			left 26%
			top 50%
	

	/* border triangle */
	.borderTriangle
		position absolute
		top 30%
		right 10%
		width 43em
		height 43em

		.triangle
			border-right .15em solid rgba(255,255,255,.05)

			div
				border .15em solid rgba(255,255,255,.05)


	/* address */
	p
		position absolute
		top 18%
		left 13%
		color rgba(0,51,255,1)
		font-size 1.3em
		padding-left 1em
		line-height 1.3em

		a
			color rgba(255,255,255,1)
			margin-left -.5em
