#portf
	left 205.885%
	bottom 140%

	/* list */
	.listcontainer
		white-space nowrap
		position absolute
		left -20%
		top 55%
		transform translateY(-50%)
		transition margin-left .2s ease-out

		ul
			font-weight 700
			display inline-block
			vertical-align top
			position relative
			width 37em

			li
				a
					display inline-block
					color rgba(232,183,0,1)
					font-size 3.4em
					padding .2em
					transition color .5s
					&:hover
						color rgba(255,255,255,1)

			li.year
				position absolute
				color rgba(0,51,255,1)
				font-size 6.2em
				z-index -1
				top -.1em
				left 0
				transition color .4s
				transform translateX(-85%)


	/* lines */
	.clockwise
	
		hr.line_1
			top 36%
			left -5%
			height 100%
		hr.line_2
			left -12%
			top 58%
			height 30%
			width 1em

		hr.line_3
			top -115%
			left 135%

		hr.line_4
			height 25%
			width 1em
			left 130%
			top -10%

		hr.line_5
			height 13%
			width 2em
			left 140%
			top -2%

		hr.line_6
			top -70%
			left 109%

		div.c1
			width 23em
			height 23em
			left -38%
			top 80%
			color rgba(255,81,81,1)

			p
				font-weight 700
				position absolute
				text-align center
				top 50%
				left 50%
				font-size 6.5em
				transform translate(-50%, -50%) rotate(-60deg)
		
				span
					display block
					font-size .27em

	.counterclockwise 
		hr.line_under
			top -27%
			left -3%
			width 30%
			height .2em
			transition-property top, left, background-color, width
			transition-duration .2s
			transition-delay .2s
			transition-timing-function ease-in
	
	/* triagles */
	.triangle
		border-right .15em solid rgba(255,255,255,.05)
		width 15em
		height 13em

		&:nth-of-type(1)
			transform translate(-25%)  scale(-.7) skew(30deg)
			left auto
			top 4%
			right 22%

		&:nth-of-type(2)
			left 13%
			top 75%
			transform translate(-25%)  scale(1.2) skew(30deg)
		div
			border .15em solid rgba(255,255,255,.05)




	/* scrollbar */
	.scrollbar
		position absolute
		width 70%
		height 4em
		top 105%
		left 46%

		&:before
		&:after
			position absolute
			left -6%
			bottom -.2em
			content ""
			width 16%
			height .4em
			background-color rgba(0,51,255,1)

		&:after
			left auto
			bottom auto
			right -6%
			top -.2em

		span
			position absolute
			height 60%
			top 20%
			width 30%
			background-color rgba(232,183,0,1)
			transition margin-left .2s ease-out
			cursor -webkit-grab
			cursor -moz-grab

			&:before
				width .4em
				height 100%
				content ""
				background-color rgba(255,81,81,1)
				position absolute
				top -30%
				left 50%
				margin-left -.2em
				box-shadow  1.2em 0 0 0 rgba(255,81,81,1), -1.2em 0 0 0 rgba(255,81,81,1)
	