.video
	position absolute
	width 100%
	height 100%
	top 0
	left 0
	background-color rgba(0,0,0,.9)
	z-index -1
	opacity 0
	transition opacity 1s

#playerXfMYNNRGtxMX
	width 70% !important
	height 0 !important
	padding-top 39.375%
	top 50%
	left 50%
	transform translate(-50%, -50%)
	&.jwfullscreen
		transform none
	*:not(.jwpreview)
		background-image none !important
		font-family "proxima" !important
	img
	.jwcapLeft
	.jwcapRight
	.jwmute
	.jwfullscreen
	.jwplay
	.jwtimeSliderThumb
	.jwbackground
	&_controlbar_timetooltip
		display none !important

	&_controlbar
		top 50% !important
		left 50% !important
		right auto !important
		bottom auto !important
		max-width 150% !important
		width 150%
		transform translate(-50%, -50%) rotate(-30deg)
		&_elapsed
			color rgba(0,51,255,1)
			top .6em!important
			left 100%!important
		&_duration
			color rgba(41,224,43,1)
			top .6em!important
			right 100%!important
		&_elapsed,
		&_duration
			font-size 4em!important
			font-weight 700!important
	
	.jwtimeSliderProgress
		background-color rgba(0,51,255,1) !important
		height .6em!important
		top 50%!important
		transform translateY(-50%)
	
	.jwtimeSliderBuffer
		background-color rgba(41,224,43,1) !important
		height .25em!important
		top 50%!important
		transform translateY(-50%)
	
	&_display_button
		display block!important
		width 14% !important
		padding 0 !important
		margin 0 !important
		height 0 !important
		padding-top 14% !important
		border-radius 50%
		top 50% !important
		left 50% !important
		transform translate(-50%, -50%) rotate(-30deg)
		background-color rgba(0,51,255,1)
		z-index 100
		transition background-color .5s
		&:hover
			background-color rgba(232,183,0,1)
		&:before
		&:after
			content ""
			position absolute
			width 20%
			height 40%
			top 30%
			left 40%
			background-image linear-gradient(to left, rgba(41,224,43,1), rgba(41,224,43,1) 35%, transparent 35%, transparent 65%, rgba(41,224,43,1) 65%, rgba(41,224,43,1))

	