#wedo
	left -205.885%
	top 140%
	font-weight 700

	/* triagles */
	.triangle
		border-right .15em solid rgba(255,255,255,.05)
		width 6em
		height 5.196em
		top 12%
		left 7%
		
		&:nth-of-type(1)
			transform translate(-25%)  scaleY(-1) skew(30deg)

		&:nth-of-type(2)
			left auto
			right 15%
			top 45%
			transform translate(-25%)  scale(1.4) skew(30deg)

		div
			border .15em solid rgba(255,255,255,.05)

	/* figures */
	.clockwise
		
		div.c1
			width 9em
			height 9em
			top 110%
			left 0

		div.c2
			width 18em
			height 18em
			top 0
			left 87%

		hr.line_1
			top 100%
			left 9%

		hr.line_2
			left 103%
			top 20%
			height 40%
			width 1em

		hr.line_3
			left 108%
			top -25%
			width .3em
			height 80%

		hr.line_top
		hr.line_bottom
			transition-property left, top, background-color, width, height
			transition-duration .3s
			transition-delay .2s

		hr.line_top
			left 6%
			top 96%
			transition-timing-function ease-in
		
		hr.line_bottom /* <<<<<< ? */
			left 14%
			top 111%
			transition-timing-function ease-out



	
	.counterclockwise
		ul
			/* background text */
			div.units
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				color rgba(0,51,255,1)
				font-size 30em
				transition color .5s
				z-index -100
			li
				margin .27em 0
				font-size 5em
				cursor default
				position relative
				transition padding cubic-bezier(1.000, -0.600, 0.640, 0.800) .5s

				&:hover ~ div
					color rgba(255,255,255,.1)

				p
					position relative
					display inline-block
					color rgba(41,224,43,1)
					transition color .5s
					1pointer-events none
					z-index -1
					pointer-events none

					span
						position absolute
						width auto
						white-space nowrap
						top 50%
						margin 0 2.5em
						transform translateY(50%)
						color rgba(255,255,255,1)
						font-size .33em
						opacity 0
	

				&:hover > p
					pointer-events auto
					color rgba(255,255,255,1)

					span
						transition opacity .2s, transform .3s
						opacity 1
						transition-delay .4s
						transform translateY(-50%)


				/* strategy */
				&.strategy
					padding-left 2em

					&:hover
						padding-left 1em

					p > span
						left 100%

					hr.line_top
						background-color rgba(255,81,81,1)
						width .2em
						height 28%
						top 10%
	
					hr.line_bottom
						background-color rgba(232,183,0,1)
						width .2em
						height 100%
						top 0
		

				/* creative */
				&.creative
					padding-left 3.7em
				
					&:hover
						padding-left 6.5em

					p > span
						right 100%
				
					hr.line_top
						background-color rgba(232,183,0,1)
						width .2em
						height 43%
						top 39%

					hr.line_bottom
						background-color rgba(0,51,255,1)
						width .2em
						height 110%
						top -15%
		

				/* mobile */
				&.mobile
					padding-left 1.3em
				
					&:hover
						padding-left .5em

					p > span
						left 100%

					hr.line_top
						background-color rgba(41,224,43,1)
						width .2em
						height 39%
						top 10%

					hr.line_bottom
						background-color rgba(255,81,81,1)
						width .2em
						height 95%
						top -5%

				/* production */
				&.production
					padding-left 4.3em
				
					&:hover
						padding-left 6.23em
					
					p > span
						right 100%

					hr.line_top
						background-color rgba(255,81,81,1)
						width .2em
						height 36%
						top 35%
					
					hr.line_bottom
						background-color rgba(0,51,255,1)
						width .2em
						height 104%
						top -19%
		

				/* integration */
				&.integration
					padding-left .8em
				
					&:hover
						padding-left 6.23em
					
					p > span
						right 100%

					hr.line_top
						background-color rgba(255,81,81,1)
						width .2em
						height 106%
						top -12%
					
					hr.line_bottom
						background-color rgba(0,51,255,1)
						width .2em
						height 85%
						top 40%
		

				/* smm */
				&.smm
					padding-left 2em
				
					&:hover
						padding-left 7.5em
					
					p > span
						right 100%
					
					hr.line_top
						background-color rgba(0,51,255,1)
						width .2em
						height 38%
						top -12%

					hr.line_bottom
						background-color rgba(232,183,0,1)
						width .2em
						height 85%
						top -4%
		

				/* seo */
				&.seo
					padding-left 4.5em
				
					&:hover
						padding-left 2em
					
					p > span
						left 100%
					
					hr.line_top
						background-color rgba(0,51,255,1)
						width .2em
						height 67%
						top 10%

					hr.line_bottom
						background-color rgba(255,81,81,1)
						width .2em
						height 28%
						top 45%
