<div class="background yellow">
	<hr class="line_1 red">
	<hr class="line_2 white">
	<div class="circle c1 blue"></div>
	<hr class="line_3 green">
</div>
<aside>
	<hr class="line_1 blue">
	<hr class="line_2">
	<h3>Client</h3>
	<p dataObjectClient>Lorem ipsum dolor.</p>
	<h3>Purpose</h3>
	<p dataObjectPurpose></p>
	<h3>Idea</h3>
	<p dataObjectIdea></p>
	<h3>Tags:</h3>
	<ul dataObjectTags>
	</ul>
</aside>
<article>
	<h1></h1>
	<h2>Implementation</h2>
	<div class="img">
		<img>
	</div>
	<a href="http://super-sobaka.ru" class="visitSite">Visit site</a>
	<div class="text" dataObjectImplementation>
	</div>
	<div class="info">
		<p><i dataObjectInsight></i>
		</p>
		<div class="triangle">
			<div class="green"></div>
		</div>
	</div>
	<div class="slider">
	</div>
	<div class="text">
		<div class="awards">
			<h4>Awards</h4>
			<ul>
				<li>2013: <span>The FWA / Site of the day</span>
				</li>
				<li>2014: <span>Red Apple / Gold</span>
				</li>
			</ul>
		</div>
		<div dataObjectShortDescription>
		</div>
		<div class="top">
			<div class="triangle">
				<div class="green"></div>
			</div>
			<span>Top</span>
		</div>
		<ul dataObjectTeam>
		</ul>
		<hr class="line_1 blue">
		<hr class="line_2 green">
		<hr class="line_3 green">
		<hr class="line_4 yellow">
	</div>
	<div class="info">
		<h3>Results</h3>
		<hr class="line_1 blue">
		<div class="result">
		</div>
		<hr class="line_2 red">
	</div>
</article>
<script>
var workName = location.hash.slice(6),
	workContainer = parallax.show.querySelector('.work_' + workName),
	topButton = workContainer.querySelector('div.top');
workContainer.querySelector('.fullview h1').innerHTML = parallax.listContainer.querySelector('a[href="' + location.hash + '"]').innerHTML;
workContainer.querySelector('.fullview .img > img').src = 'ajax/' + workName + '/full.jpg';
topButton.onclick = function() {};

</script>