<section id="contact"><div class="borderTriangle"><div class="triangle"><div></div></div></div><div class="circle c1 blue"><a href="#facebook" class="facebook"></a><a href="#facebook" class="twitter"></a><div class="triangle"><div></div></div><div class="triangle"><div></div></div></div><div class="clockwise"><hr class="line_1 red narrow long"/><hr class="line_2 blue narrow long"/></div><div class="counterclockwise"><hr class="line_1 blue narrow long"/><hr class="line_2 green narrow big"/><div class="lightBlue street part1">Садовое кольцо / Крымский вал<span>Октябрьская <br/> (кольцевая)</span></div><div class="lightBlue street part2">Садовое кольцо<span>Октябрьская <br/> (радиальная)</span></div><div class="blue street part4">Ленинский проспект <div class="building blue"><img src="img/buildings.png" alt=""/><hr class="blue"/></div></div><div class="blue street part3">Большая Якиманка</div><div class="red street part5">Шаболовка</div><div class="yellow street part6">Проезд Апакова</div></div><p>+7 (495) 258 74 88<br/>
<a href="mailto:info@ailove.ru">info@ailove.ru</a><br/>
119991, Москва, Ленинский проспект,<br/>
д.6, стр. 20</p></section>