mixin people(people)
	each person in people
		h2.project-subheading.project-subheading-post= person[1]
		p.project-text= person[0]

mixin awards(awards)
	ul.project-awards
		each award in awards
			li.project-award
				span.project-award-year= award[0]
				= ' ' + award[1]


.section.section-project
	
	.project-controllers
		a.project-controller.project-controller-prev(href=jv0)
		a.project-controller.project-controller-next(href=jv0)
		a.project-controller.project-controller-close(href=jv0)

	.content
		.project
			img.project-logo(src='images/project-logo.jpg' alt='Super-Sobaka Logo' width=67 height=67)
			h1.project-name Super-Sobaka
			img.project-cover(src='images/project-cover.jpg' alt='Super-Sobaka Cover' width=472 height=472)
			h2.project-subheading Client
			p.project-text Moscow shelter for dogs
			h2.project-subheading Purpose
			p.project-text Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions for web, e-commerce, social media and online campaigns. We are a team of planners, producers, information architects, analysts, creatives and technologists dedicated to our clients' success.
			h2.project-subheading Idea
			p.project-text Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions.



			.project-implementation
				.project-implementation__heading.g-abs Implementation

				.project-implementation__description Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions for web, e-commerce, social media and online campaigns. We are a team of planners, producers, information architects, analysts, creatives and technologists dedicated to our clients' success.

				.project-implementation__fig

				.project-slider
					img.project-slider__slide(src='images/implementation.jpg')
				
				ul.project-slider-pager
					li.project-slider-pager__item: a.project-slider-pager__item-dot(href=jv0)
					li.project-slider-pager__item: a.project-slider-pager__item-dot.project-slider-pager__item-dot_state_active(href=jv0)
					li.project-slider-pager__item: a.project-slider-pager__item-dot(href=jv0)
					li.project-slider-pager__item: a.project-slider-pager__item-dot(href=jv0)
					li.project-slider-pager__item: a.project-slider-pager__item-dot(href=jv0)



			p.project-text.project-text-implementation Ailove is a full service digital agency with office in Moscow, Russia. We work with some of the most distinguished brands in the world launching cross-platform solutions for web, e-commerce, social media and online campaigns. We are a team of planners, producers, information architects, analysts, creatives and technologists dedicated to our clients' success.

			h2.project-subheading.project-subheading-results Results

			.project-results
				.project-results__number 9500
				.project-results__description visits per month
				.project-results__number 164
				.project-results__description
					| new volunteers
					br
					| per 1-st month

			h2.project-subheading.project-subheading-awards Awards

			+awards([
				[2013, 'The FWA / Site of the day'],
				[2014, 'Red Apple / Gold']
			])

			+people([
				['Анна Корзун', 'Креативный Директор'],
				['Александр Редингер (aka Miles)', 'Креативный Продюсор'],
				['Анатолий Шебзухов', 'Художественный Руководитель'],
				['Игорь Борисов', 'Составитель текста'],
				['Владимир Серегин', 'Самый Главный разработчик'],
				['Влад Федорин', 'Арт-директор'],
				['Степан Ерошкин', 'Дизайнер'],
				['Макс Иванов', 'Дизайнер'],
				['Антон Жуков', 'Верстка и скрипты'],
				['Юрий Барсуков', 'Программирование']
			])
			
			a.project-visit-site(href=jv0 data-label='Visit Site')
			a.project-top(href=jv0 data-label='Top')



