#home
	left 0
	top 0

	/* showreel */
	/* container */
	#showreel
		width 26em
		height 26em
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)

		.triangle 
			
			/* triagle shadow */
			&:nth-of-type(2)
				top 1em
				left 1.8em
				border-right .2em solid rgba(0,51,255,1)
				z-index -1

				div 
					border .2em solid rgba(0,51,255,1)

			img
				position absolute
				height 120%
				width 120%
				top 45%
				left 25%
				transform translate(-50%, -50%) skew(30deg)
		
		/* circle */
		span
			position absolute
			top 40%
			left 15%
			width 1.5em
			height 1.5em
			border-radius 50%
			border .05em solid rgba(0,51,255,1)
			font-size 3.4em
			color rgba(0,51,255,1)
			cursor pointer
			font-weight 300
			transition border-color .3s ease

			/* triagle */
			em
				position absolute
				top 50%
				left 50%
				border-style solid
				border-width .3em .5em
				border-color transparent
				border-left-color rgba(0,51,255,1)

				transition border-color .3s ease
				transform translate(-20%, -50%)

			/* text */
			&:before
			&:after
				content "sh"
				position absolute
				right 100%
				top 0
				padding .1em

			&:after
				content "wreel"
				right auto
				left 100%

			&:hover 
				border-color rgba(232,283,0,1)

				em 
					border-left-color rgba(255,81,81,1)
			

	/* static lines */
	.clockwise
		
		hr.line_1 
			top 84%
			left 58.5%

		hr.line_2 
			top 104%
			left 61%

		hr.line_3 
			top 116%
			left 49%

		hr.line_4 
			top 90%
			left 55%

		hr.line_5 
			top 94%
			left 10%

		hr.line_6 
			bottom 65%
			left 58.5%

		hr.line_7 
			bottom 89%
			left 50%

		hr.line_8 
			bottom 109%
			left 64%

		hr.line_9 
			bottom 71%
			left 52.5%

		hr.line_10 
			bottom 21%
			left 143%

	.counterclockwise

		/* static lines */
		hr.line_1
			top 30%
			left 38.2%

		hr.line_2
			bottom 65%
			left 35%

		hr.line_3
			left 26%
			bottom 77%

		hr.line_4
			left 42%
			top 78%

		hr.line_5
			left 25%
			bottom 13%

		hr.line_6
			left 50%
			bottom -8%


#ru
	position absolute
	color rgba(0,51,255,1)
	font-size 2em
	font-weight 700
	text-decoration underline
	left -10%
	bottom 0
