#work 
	left 345.885%
	top 205.885%

	/* lines */
	.clockwise
		hr.line_1 
			left 80%
			top -100%
			height 400%
			width .5em
		hr.line_2 
			left -40%
			top 95%
			height 30%
			width .8em
		hr.line_3 
			top 60%
			left 104%
			height 25%
			width 1em
			
	.counterclockwise
		hr.line_1
			top -70%
			left -35%
			width 2em



	/* work */
	div[class^="work_"] 
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		opacity 0
		color rgba(255,255,255,1)
		font-weight 700
		transition margin 1s cubic-bezier(0.770, -0.450, 0.220, 1.215)
	
		&.viewed 
			opacity 1
			z-index 100

		&.nextWorkIn
			z-index 50
			opacity 1
			animation moveNextIn 1s cubic-bezier(0.770, -0.450, 0.220, 1.215)

		&.nextWorkOut
			z-index 50
			opacity 1
			animation moveNextOut 1s cubic-bezier(0.770, -0.450, 0.220, 1.215)

		&.prevWorkIn
			z-index 50
			opacity 1
			animation movePrevIn 1s cubic-bezier(0.770, -0.450, 0.220, 1.215)

		&.prevWorkOut
			z-index 50
			opacity 1
			animation movePrevOut 1s cubic-bezier(0.770, -0.450, 0.220, 1.215)


		article.preview 
			position absolute
			top 0
			left 0
			width 100%
			height 100%

			.c1
				width 47%
				padding-top 47%
				top 50%
				transform translateY(-50%)
				right 3%
				overflow hidden
				img
					position absolute
					top -5%
					left -5%
					width 110%

			.info 
				width 42em
				height 42em
				position absolute
				top 10%
				left 18%
				text-align center
				img 
					position relative
					width 13%
					margin-left 43.5%
					margin-top 22%
					display block
				h1
					font-size 2.2em
					position relative
					margin 1.2em 0
				& > hr
					width 26%
					height .2em
					margin-left 37%
					position relative
					margin-bottom 2.5em
				p
					position relative
					font-size 1.2em
					line-height 1.5em

				.more 
					bottom -13%
					left 40%
					width 20%
					height 20%
					position absolute
					text-align center
					cursor pointer
					color rgba(255,255,255,1)

					& > div 
						left 75%
						top 60%
						transform translate(-50%, -50%) scale(-1) skew(30deg)
					p
						top 50%
						transform translateY(-50%)
					hr
						height 700%
						top 47%
						left 50%
						z-index -1
						transform-origin 0 0
						transform rotate(60deg)
						pointer-events none


		article.fullview
			position: absolute;
			top: 140%;
			left: 66%;
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;

			hr
			a.visitSite
			.background
				transform: rotate(-30deg);

			.background
				width: 100%;
				height: 127%;
				top: 50%;
				left: 5%;
				position: absolute;

				hr
					transform: none;

				hr.line_1
					width: 1.5em;
					height: 12em;
					top: -1em;
					left: 24%;

				hr.line_2
					width: 27em;
					height: .2em;
					top: 40%;
					left: 7%;

				hr.line_3
					width: 8em;
					height: 0.7em;
					top: 42%;
					left: 8%;

				div.c1
					width: 15em;
					height: 15em;
					top: 30%;
					left: 10%;

			a.visitSite
				position: absolute;
				left: -13%;
				top: 25em;
				background-color: rgba(10,201,104,1);
				color: rgba(255,255,255,1);
				font-size: 2em;
				padding: 1em;
				z-index: 10;
			h3
				font-size: 2em;
				margin: 1.2em 0 .3em;

			p
				line-height: 1.5em;
				color: rgba(255,255,255,.3);

			aside
				width: 27%;
				min-height: 100%;
				float: left;
				padding: 8em 8em 0 6em;
				position: relative;
				hr
					&.line_1
						width: .2em;
						height: 30em;
						right: 15%;
						top: 0;
						z-index: -1;

					&.line_2
						width: 1em;
						height: 10em;
						right: 20%;
						top: 5%;
						z-index: -1;
						background-color: rgba(10,201,104,1);
				ul 
					li
						&:before
							line-height: 1.5em;
						&.Site:before
							color: rgba(10,201,104,1);
						&.Mobile:before
							color: rgba(232,183,0,1);
						&.SEO:before
							color: rgba(41,224,43,1);
						&.Interactive:before
							color: rgba(41,137,204,1);
						&.Strategy:before
							color: rgba(255,110,165,1);
				
			article
				width: 73%;
				min-height: 100%;
				float: left;
				padding-right: 5em;
				padding-bottom: 5em;
				position: relative;

				h1
					font-size: 5em;
					padding-top: 1.3em;

				h2
					font-size: 2.6em;
					padding: 1.3em 0 1.3em 5em;

				.img
					overflow: hidden;
					width: 93%;
					margin: 0 0 2em 7%;
					img
						width: 110%;
						left: -5%;

				.text
					float: left;
					width: 65%;
					padding: 0 6em 3em 12em ;
					position: relative;

					p
						font-size: 1.3em;
						padding-bottom: 1em;

					hr.line_1
						width: 100%;
						height: 1.4em;
						bottom: 20%;
						left: 100%;

					hr.line_2
						width: 80%;
						height: .2em;
						bottom: 19%;
						right: 75%;

					hr.line_3
						width: 8em;
						height: 2em;
						bottom: 17%;
						right: 97%;

					hr.line_4
						width: 16em;
						height: 1em;
						bottom: 27%;
						right: 94%;

					& > ul
						li
							font-size: 1.5em;
							line-height: 1.5em;
							span
								color: rgba(255,255,255,.3);

				.text:nth-of-type(2) p
				.info:nth-of-type(3) p
					color: rgba(0,0,0,1);

				.slider
					clear: both;
					width: 100%;
					height: 64em;
					position: relative;
					margin: 3em 0;

					label
						display: block;
						width: 1.5%;
						padding-top: 1.5%;
						border-radius: 50%;
						background-color: rgba(255,255,255,1);
						margin: 2% 0;
						position: relative;
						cursor: pointer;

					input
						display: none;

						& + label
							span
								background-color: rgba(41,224,43,1);
								position: absolute;
								width: 0%;
								height: 0%;
								top: 50%;
								left: 50%;
								border-radius: 50%;
								transform: translate(-50%, -50%);
								transition-property: opacity, width, height;
								transition-duration: .3s;
								opacity: 0;
							hr
								width: 230%;
								height: .2em;
								background-color: rgba(255,255,255,1);
								right: 400%;
								top: 300%;
								opacity: 0;
								transition-property: opacity,top, right;
								transition-duration: .3s;

						&:checked + label
							span
								opacity: 1;
								width: 170%;
								height: 170%;

						&:checked + label > hr,
						&:hover + label > hr
							top: 90%;
							right: 10%;
							opacity: 1;

						&:nth-of-type(1):checked ~ div > div:nth-of-type(1)
						&:nth-of-type(2):checked ~ div > div:nth-of-type(2)
						&:nth-of-type(3):checked ~ div > div:nth-of-type(3)
						&:nth-of-type(4):checked ~ div > div:nth-of-type(4)
						&:nth-of-type(5):checked ~ div > div:nth-of-type(5)
							opacity: 1;
							left: 0;
							top: 0;

					& > div
						position: absolute;
						top: 0;
						right: 0;
						width: 96%;
						height: 100%;
						div
							position: absolute;
							left: 50%;
							top: -28%;
							width: 100%;
							height: 100%;
							opacity: 0;
							transition-property: top, left, opacity;
							transition-duration: .5s;
							transition-timing-function: ease-out;
							overflow: hidden;
							img
								width: 100%;
								height: auto;
								
								position: absolute;
								right: 0;
								top: 0;

				.info
					float: left;
					width: 35%;
					padding-left: 3em;
					position: relative;

					h3
						text-align: center;
						margin: .5em 0;
					
					.result
						border: .5em solid rgba(232,183,0,1);
						padding: 4em;
						text-align: center;
						position: relative;
						
						p
							color: rgba(255,255,255,1);
							font-size: 1.4em;

							&:first-child
								margin-bottom: 3em;
							span
								display: block;
								color: rgba(232,183,0,1);
								font-size: 3em;
								margin-bottom: .3em;

					hr.line_1
						width: 37%;
						height: .8em;
						right: -10%;
						top: 55%;

					hr.line_2
						width: 25%;
						height: 1.2em;
						right: -14%;
						top: 40%;

					.triangle
						transform: scale(-1) skew(30deg);
						height: 8.66em;
						width: 10em;
						position: relative;
						margin: 7em 0 0 11em;

				.awards
					position: absolute;
					font-size: 1.3em;
					line-height: 1.5em;
					right: 100%;
					width: 50%;

					h4
						font-size: 1.5em;
						line-height: 2em;
					ul 
						span
							color: rgba(232,183,0,1);

				.top
					width: 6em;
					height: 6em;
					position: relative;
					color: rgba(0,0,0,1);
					font-size: 1.5em;
					z-index: 10;
					margin: 2em 40%;
					cursor: pointer;
					span
						position: absolute;
						top: 55%;
						left: 50%;
						transform: translate(-50%, -50%);

@keyframes moveNextIn {
	0% {
		left 140%
		top -140%
	}
	100% {
		top 0
		left 0
	}
}

@keyframes moveNextOut {
	0% {
		left 0
		top 0
	}
	100% {
		left -140%
		top 140%
	}
}

@keyframes movePrevIn {
	0% {
		left -140%
		top 140%
	}
	100% {
		left 0
		top 0
	}
}

@keyframes movePrevOut {
	0% {
		left 0
		top 0
	}
	100% {
		top -140%
		left 140%
	}
}