mixin portfolio(calendar) 
	ul.portfolio-calendar
		each item in calendar
			li.portfolio-calendar__item
				span.portfolio-calendar__item-year= item.year
				ul.portfolio-projects
					each project in item.projects
						li.portfolio-projects__item
							a.portfolio-projects__item-link(href=jv0)= project

.section.section-portfolio

	.section-portfolio__fig.section-portfolio__fig-0.g-abs
	.section-portfolio__fig.section-portfolio__fig-1.g-abs
	.section-portfolio__fig.section-portfolio__fig-2.g-abs
	
	.content
		+portfolio([{
			year: 2014,
			projects: [
				'Movenpick',
				'Super-Sobaka',
				'Leroy Merlin',
				'Nestle'
			]
		}, {
			year: 2013,
			projects: [
				'Real Love',
				'Ru-happiness',
				'Aeroflot',
				'Death in the network',
				'Centro',
				'Jardin'
			]
		}])
