@font-face
	font-family fontello
	src url(../fonts/symbols/fontello.eot)
	src url(../fonts/symbols/fontello.eot#iefix) format('embedded-opentype'),
		url(../fonts/symbols/fontello.woff) format('woff'),
		url(../fonts/symbols/fontello.ttf) format('truetype'),
		url(../fonts/symbols/fontello.svg#fontello) format('svg')
	font-weight normal
	font-style normal

@font-face
	font-family proxima
	src url(../fonts/proxima/pn-light.otf)
	font-weight 300

@font-face
	font-family proxima
	src url(../fonts/proxima/pn-reg.otf)
	font-weight 500

@font-face
	font-family proxima;
	src url(../fonts/proxima/pn-bold.otf);
	font-weight 700

@font-face
	font-family proxima;
	src url(../fonts/proxima/pn-xbold.otf);
	font-weight 800

@font-face
	font-family proxima;
	src url(../fonts/proxima/pn-black.otf);
	font-weight 900
