@import 'fonts'
@import 'reset.min.css'
@import 'normalize'
@import 'sprite'

body
html
	height 100%
	min-height 100%
	font-size 100%
	overflow hidden
	backface-visibility hidden

body
	background-color #1a1c20;
	user-select none

a:link, 
a:visited, 
a:hover, 
a:active 
	text-decoration: none;

/* triangles */
.triangle
	left 0
	top 0
	position absolute
	width 100%
	height 86.6%
	overflow hidden;
	transform translate(-25%) skew(30deg)

	& > div 
		position absolute
		left 50%
		width 100%
		height 100%
		overflow hidden
		transform skew(-49deg)


/* styles lines */
hr
	position absolute
	border none
	margin 0

hr.long
	height 180%

hr.big
	height 50%

hr.short
	height 20%

hr.narrow
	width .2em

hr.thin
	width .7em

hr.medium
	width 1.5em

hr.wide
	width 3em

.circle
	position absolute
	border-radius 50%

/* colors */
.red
	background-color: rgba(255,81,81,1);

.blue
	background-color: rgba(0,51,255,1);

.lightBlue
	background-color: rgba(41,137,204,1);

.yellow
	background-color: rgba(232,183,0,1);

.green
	background-color: rgba(41,224,43,1);

.white
	background-color: rgba(255,255,255,1);


/* rotates */
.clockwise
.counterclockwise
	position absolute
	width 50em
	height 50em
	top 50%
	left 50%
	transform translate(-50%, -50%) rotate(-30deg)
	1border 1px solid red

.clockwise
	transform translate(-50%, -50%) rotate(60deg)


@import 'nav'
@import 'section/home'
@import 'section/about'
@import 'section/portfolio'
@import 'section/contact'
@import 'section/wedo'
@import 'section/work'
@import 'section/video'