@keyframes next {
	50% {
		left: 50%;
	}
}

@keyframes prev {
	50% {
		right: 50%;
	}
}

@keyframes close {
	100% {
		transform: rotate(90deg);
	}
}

#container
	height 100%
	min-height 100%
	position relative
	font-family "proxima", sans-serif

#moveable
	transition-property top, right, bottom, left
	transition-duration 1.5s
	transition-timing-function cubic-bezier(0.770, -0.450, 0.220, 1.215)
	
	position absolute
	top 0
	left 0
	width 100%
	height 100%

	& > section
		position absolute
		width 100%
		height 100%

#logo
	position fixed;
	top 2em;
	left 3em;
	width 2em;
	height 1.7em;
	z-index 9999;

	& > a
		position absolute;
		top 0;
		border 0 solid transparent;
		border-width 0em 1em 1.7em 1em;
		border-bottom-color rgba(10,204,107,1);
		box-shadow 0 1px  rgba(0,194,97,1);

	& > a:before
		content '';
		position absolute;
		border 0 solid transparent;
		border-width 0em 1em 1.7em 0em;
		border-bottom-color rgba(31,238,149,1);

.global-nav
	color rgba(255,255,255,1);
	font-size 1.7em;
	position fixed;
	font-weight 700;
	padding .7em;
	transform translateX(-50%) rotate(-30deg);
	z-index 9999;
	backface-visibility visibile

	span
		position absolute;
		width 100%;
		height 1000px;
		left 0;
		transition cubic-bezier(0.410, 0.695, 0.000, 1.375);
		transition-duration .5s;
		transition-property top, bottom, right;
		z-index -1;

	&.contacts
		bottom 2%;
		left 50%;

	&.about
		left 50%;
		top 2%;

	&.portfolio
		top 50%;
		right -.5em;
		transform translateY(-50%) rotate(60deg);

	&.whatwedo
		top 50%;
		left -1em;
		transform translateY(-50%) rotate(60deg);


	&.about span
	&.portfolio span
		bottom 500px

	&.contacts span
		top 500px

	&.whatwedo span
		height 100%;
		width 1000px;
		left auto;
		right 500px;
		top 0;

	&.portfolio:hover span
	&.portfolio.active span
	&.about:hover span
	&.about.active span
		bottom 0
	
	&.contacts:hover span
	&.contacts.active span
		top 0

	&.whatwedo:hover span
	&.whatwedo.active span
		right 0


/* navButtons */
.buttons
	margin: 2em;
	position: absolute;
	top: -6em;
	right: 1em;
	transition: top .5s cubic-bezier(0.770, -0.450, 0.220, 1.215);

	a
		float: left;
		margin-left: 2em;
		width: 3em;
		height: 3em;
		color: white;
		z-index: 100000;
		position: relative;	

		span
			position: absolute;
			top: 15%;
			left: 15%;
			width: 70%;
			height: 70%;

			&:before
			&:after
				content: ''
				position: absolute
				width: 15%
				background-color: rgba(255,255,255,1)
				transform-origin: 50% 0	

		&.closeWork span:before
		&.closeWork span:after
			top: 0;
			left: 0;
			height: 141.4%;
			transform: translateX(-50%) rotate(-45deg);
		
		&.closeWork span:after
			left: auto;
			right: 0;
			transform: translateX(50%) rotate(45deg);
		

		&.prevWork span:before
		&.prevWork span:after
		&.nextWork span:before
		&.nextWork span:after
			top: 0;
			left: 10%;
			height: 74.5%;
			transform: translateX(-50%) rotate(-45deg);
		

		&.prevWork span:after
		&.nextWork span:after
			top: auto;
			bottom: 0;
			transform: translateX(-50%) rotate(45deg);
			transform-origin: 50% 100%;
		

		&.prevWork span
			transform: rotate(180deg);
			left: auto;
			right: 0;
		

		&.prevWork:hover span
			animation: prev .3s ease;
		

		&.nextWork:hover span
			animation: next .3s ease;
		

		&.closeWork:hover span
			animation: close .3s ease;


/* hide links */
#container.hidelinks
	a.global-nav
		&.about
			top: -10%;
		&.portfolio
			right: -10%;
		&.contacts
			bottom: -10%;
		&.whatwedo
			left: -10%;
