$arrow-270_x = 0px;
$arrow-270_y = 0px;
$arrow-270_offset_x = 0px;
$arrow-270_offset_y = 0px;
$arrow-270_width = 32px;
$arrow-270_height = 32px;
$arrow-270_total_width = 72px;
$arrow-270_total_height = 56px;
$arrow-270_image = '../img/sprite.png';
$arrow-270 = 0px 0px 0px 0px 32px 32px 72px 56px '../img/sprite.png';
$arrow_x = 40px;
$arrow_y = 0px;
$arrow_offset_x = -40px;
$arrow_offset_y = 0px;
$arrow_width = 32px;
$arrow_height = 32px;
$arrow_total_width = 72px;
$arrow_total_height = 56px;
$arrow_image = '../img/sprite.png';
$arrow = 40px 0px -40px 0px 32px 32px 72px 56px '../img/sprite.png';
$document-code_x = 0px;
$document-code_y = 40px;
$document-code_offset_x = 0px;
$document-code_offset_y = -40px;
$document-code_width = 16px;
$document-code_height = 16px;
$document-code_total_width = 72px;
$document-code_total_height = 56px;
$document-code_image = '../img/sprite.png';
$document-code = 0px 40px 0px -40px 16px 16px 72px 56px '../img/sprite.png';
$folder_x = 24px;
$folder_y = 40px;
$folder_offset_x = -24px;
$folder_offset_y = -40px;
$folder_width = 16px;
$folder_height = 16px;
$folder_total_width = 72px;
$folder_total_height = 56px;
$folder_image = '../img/sprite.png';
$folder = 24px 40px -24px -40px 16px 16px 72px 56px '../img/sprite.png';

spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
