<section id="portf">
	<div class="triangle">
		<div></div>
	</div>
	<div class="triangle">
		<div></div>
	</div>
	<div class="clockwise">
		<hr class="line_1 blue narrow" />
		<hr class="line_2 red" />
		<hr class="line_3 green narrow long" />
		<hr class="line_4 yellow" />
		<hr class="line_5 green" />
		<hr class="line_6 red narrow long" />
		<div class="circle c1 green">
			<p>96<span>projects</span>
			</p>
		</div>
	</div>
	<div class="counterclockwise">
		<div class="listcontainer group">
			<hr class="line_under yellow" />
			<ul>
				<li><a href="#show_movenpick">Movenpick</a>
				</li>
				<li><a href="#show_super-sobaka">Super-sobaka</a>
				</li>
				<li><a href="#show_leroy_merlin">Leroy Merlin</a>
				</li>
				<li><a href="#show_nestle">Nestle</a>
				</li>
				<li class="year">2014</li>
			</ul>
			<ul>
				<li><a href="#show_real_love">Real Love</a>
				</li>
				<li><a href="#show_ru-happiness">Ru-happiness</a>
				</li>
				<li><a href="#show_aeroflot">Aeroflot</a>
				</li>
				<li><a href="#show_death_in_the_network">Death in the network</a>
				</li>
				<li><a href="#show_centro">Centro</a>
				</li>
				<li><a href="#show_jardin">Jardin</a>
				</li>
				<li><a href="#show_arko">Arko</a>
				</li>
				<li class="year">2013</li>
			</ul>
			<ul>
				<li><a href="#show_textone">Textone</a>
				</li>
				<li><a href="#show_cirque_de_soleil">Cirque de soleil</a>
				</li>
				<li><a href="#show_mad_belka">Mad Belka</a>
				</li>
				<li><a href="#show_do_you_want_me">Do you want me?</a>
				</li>
				<li><a href="#show_viking_tales">Viking Tales</a>
				</li>
				<li><a href="#show_rock_bunnies">Rock Bunnies</a>
				</li>
				<li><a href="#show_ikea">IKEA</a>
				</li>
			</ul>
			<ul>
				<li><a href="#show_real_love">Real Love</a>
				</li>
				<li><a href="#show_ru-happiness">Ru-happiness</a>
				</li>
				<li><a href="#show_aeroflot">Aeroflot</a>
				</li>
				<li><a href="#show_death_in_the_network">Death in the network</a>
				</li>
				<li><a href="#show_centro">Centro</a>
				</li>
				<li><a href="#show_jardin">Jardin</a>
				</li>
				<li><a href="#show_arko">Arko</a>
				</li>
				<li class="year">2012</li>
			</ul>
			<ul>
				<li><a href="#show_textone">Textone</a>
				</li>
				<li><a href="#show_cirque_de_soleil">Cirque de soleil</a>
				</li>
				<li><a href="#show_mad_belka">Mad Belka</a>
				</li>
				<li><a href="#show_do_you_want_me">Do you want me?</a>
				</li>
				<li><a href="#show_viking_tales">Viking Tales</a>
				</li>
				<li><a href="#show_rock_bunnies">Rock Bunnies</a>
				</li>
				<li><a href="#show_ikea">IKEA</a>
				</li>
			</ul>
		</div>
		<div class="scrollbar"><span></span>
		</div>
	</div>
</section>