<section id="work">
	<div class="counterclockwise">
		<hr class="line_1 blue big" />
	</div>
	<div class="clockwise">
		<hr class="line_1 red" />
		<hr class="line_2 green" />
		<hr class="line_3 blue" />
	</div>
</section>