head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, ui-minimal')
	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
	meta(name='msapplication-tap-highlight' content='no')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	<!--[if IE]>
	meta(name='imagetoolbar' content='no')
	meta(name='msthemecompatible' content='no')
	<![endif]-->
	meta(name='cleartype' content='on')
	meta(name='HandheldFriendly' content='true')
	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')
	title {{title}} 
	meta(name='description' content='Description')
	meta(name='keywords' content='Keywords')
	meta(name='copyright' content='©CSSSR')
	meta(name='reply-to' content='hr@csssr.com')
	link(href='favicon.ico' rel='shortcut icon')
	link(href='styles/main.css' rel='stylesheet')
	link(href='{{customCss}}' rel='stylesheet')
