mixin script(scripts)
	each src in scripts
		script(src=src)

<!--[if lt IE 9]>
+script([
	'bower_components/es5-shim/es5-shim.js',
	'bower_components/json3/lib/json3.min.js'
])
<![endif]-->

+script([
	'bower_components/jquery/jquery.js',
	'bower_components/angular/angular.js',
	'bower_components/sass-bootstrap/dist/js/bootstrap.js',
	'bower_components/angular-resource/angular-resource.js',
	'bower_components/angular-cookies/angular-cookies.js',
	'bower_components/angular-sanitize/angular-sanitize.js',
	'bower_components/angular-route/angular-route.js',
	'bower_components/angular-ui-router/release/angular-ui-router.js',
	'bower_components/sprintf/dist/sprintf.min.js',
	'bower_components/angular-translate/angular-translate.min.js',
	'bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js',
	'scripts/app.js',
	'scripts/controllers/page.js',
	'scripts/controllers/page_item.js',
	'scripts/controllers/page_item_more.js'
])
