<article class="preview">
	<div class="circle c1">
		<img />
	</div>
	<div class="info">
		<div class="triangle">
			<div class="yellow"></div>
		</div>
		<img/>
		<h1></h1>
		<hr class="white" />
		<p dataObjectShortDescription></p>
		<div class="more">
			<div class="triangle">
				<div class="yellow"></div>
			</div>
			<p>More</p>
			<hr class="yellow narrow" />
		</div>
	</div>
</article>
<article class="fullview"></article>
<script>
var workName = location.hash.slice(6),
	workContainer = parallax.show.querySelector('.work_' + workName),
	buttonMore = workContainer.querySelector('.more'),
	dataArticle,
	id = 7;
$.ajax(
{
	url: "http://dev.newailove.dev.ailove.ru/ru/api/case/detail/" + id + "/",
	cache: false,
	dataType: "json",
	success: function(data)
	{
		dataArticle = data;
		workContainer.querySelector('.c1 > img').src = 'ajax/' + workName + '/preview.jpg';
		workContainer.querySelector('.info > img').src = "http://dev.newailove.dev.ailove.ru" + data.data.object.small_image;
		workContainer.querySelector('.info > h1').innerHTML = data.data.object.title;
		$('p[dataObjectShortDescription]').html(triangle(strip_tags(data.data.object.short_description)));
		buttonMore.onclick = function()
		{
			buttonMoreOnclick(workName, dataArticle);
		};
	}
});
</script>