@font-face {
    font-family: 'fontello';
    src: url("../fonts/symbols/fontello.eot");
    src: url("../fonts/symbols/fontello.eot#iefix") format('embedded-opentype'), url("../fonts/symbols/fontello.woff") format('woff'), url("../fonts/symbols/fontello.ttf") format('truetype'), url("../fonts/symbols/fontello.svg#fontello") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima';
  src: url("../fonts/proxima/pn-light.otf");
  font-weight: 300;
}

@font-face {
    font-family: 'proxima';
  src: url("../fonts/proxima/pn-reg.otf");
  font-weight: 500;
}

@font-face {
    font-family: 'proxima';
  src: url("../fonts/proxima/pn-bold.otf");
  font-weight: 700;
}

@font-face {
    font-family: 'proxima';
  src: url("../fonts/proxima/pn-xbold.otf");
  font-weight: 800;
}

@font-face {
    font-family: 'proxima';
  src: url("../fonts/proxima/pn-black.otf");
  font-weight: 900;
}

@import 'reset.min.css';

* {
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    line-height: 1;
}

a {
    background: transparent;
}

*:focus,
*:active,
*:hover {
    outline: 0;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

ol,
ul {
    list-style: none;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: '\201C' '\201D' '\2018' '\2019';
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

button,
input,
select[multiple],
textarea {
    background-image: none;
}

input,
textarea {
    border-radius: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}

[placeholder]:focus::-moz-placeholder {
    color: transparent;
}

[placeholder]:focus::placeholder {
    color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    outline: none;
}

body,
html {
    height: 100%;
    min-height: 100%;
    font-size: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

body {
    background-color: #1a1c20;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}
/* triangles */
.triangle {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 86.6%;
    overflow: hidden;
    -webkit-transform: translate(-25%) skew(30deg);
    -ms-transform: translate(-25%) skew(30deg);
    -o-transform: translate(-25%) skew(30deg);
    transform: translate(-25%) skew(30deg);
}

.triangle > div {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: skew(-49deg);
    -ms-transform: skew(-49deg);
    -o-transform: skew(-49deg);
    transform: skew(-49deg);
}
/* styles lines */
hr {
    position: absolute;
    border: none;
    margin: 0;
}

hr.long {
    height: 180%;
}

hr.big {
    height: 50%;
}

hr.short {
    height: 20%;
}

hr.narrow {
    width: 0.2em;
}

hr.thin {
    width: 0.7em;
}

hr.medium {
    width: 1.5em;
}

hr.wide {
    width: 3em;
}

.circle {
    position: absolute;
    border-radius: 50%;
}
/* colors */
.red {
    background-color: #ff5151;
}

.blue {
    background-color: #03f;
}

.lightBlue {
    background-color: #2989cc;
}

.yellow {
    background-color: #e8b700;
}

.green {
    background-color: #29e02b;
}

.white {
    background-color: #fff;
}
/* rotates */
.clockwise,
.counterclockwise {
    position: absolute;
    width: 50em;
    height: 50em;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-30deg);
    -ms-transform: translate(-50%, -50%) rotate(-30deg);
    -o-transform: translate(-50%, -50%) rotate(-30deg);
    transform: translate(-50%, -50%) rotate(-30deg);
}

.clockwise {
    -webkit-transform: translate(-50%, -50%) rotate(60deg);
    -ms-transform: translate(-50%, -50%) rotate(60deg);
    -o-transform: translate(-50%, -50%) rotate(60deg);
    transform: translate(-50%, -50%) rotate(60deg);
}

#container {
    height: 100%;
    min-height: 100%;
    position: relative;
    font-family: "proxima", sans-serif;
}

#moveable {
    -webkit-transition-property: top, right, bottom, left;
    -o-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-timing-function: cubic-bezier(0.77, -0.45, 0.22, 1.215);
    -o-transition-timing-function: cubic-bezier(0.77, -0.45, 0.22, 1.215);
    transition-timing-function: cubic-bezier(0.77, -0.45, 0.22, 1.215);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#moveable > section {
    position: absolute;
    width: 100%;
    height: 100%;
}

#logo {
    position: fixed;
    top: 2em;
    left: 3em;
    width: 2em;
    height: 1.7em;
    z-index: 9999;
}

#logo > a {
    position: absolute;
    top: 0;
    border: 0 solid transparent;
    border-width: 0em 1em 1.7em 1em;
    border-bottom-color: #0acc6b;
    box-shadow: 0 1px #00c261;
}

#logo > a:before {
    content: '';
    position: absolute;
    border: 0 solid transparent;
    border-width: 0em 1em 1.7em 0em;
    border-bottom-color: #1fee95;
}

.global-nav {
    color: #fff;
    font-size: 1.7em;
    position: fixed;
    font-weight: 700;
    padding: 0.7em;
    -webkit-transform: translateX(-50%) rotate(-30deg);
    -ms-transform: translateX(-50%) rotate(-30deg);
    -o-transform: translateX(-50%) rotate(-30deg);
    transform: translateX(-50%) rotate(-30deg);
    z-index: 9999;
    -webkit-backface-visibility: visibile;
    -ms-backface-visibility: visibile;
    -o-backface-visibility: visibile;
    backface-visibility: visibile;
}

.global-nav span {
    position: absolute;
    width: 100%;
    height: 1000px;
    left: 0;
    -webkit-transition: cubic-bezier(0.41, 0.695, 0, 1.375);
    -o-transition: cubic-bezier(0.41, 0.695, 0, 1.375);
    transition: cubic-bezier(0.41, 0.695, 0, 1.375);
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: top, bottom, right;
    -o-transition-property: top, bottom, right;
    transition-property: top, bottom, right;
    z-index: -1;
}

.global-nav.contacts {
    bottom: 2%;
    left: 50%;
}

.global-nav.about {
    left: 50%;
    top: 2%;
}

.global-nav.portfolio {
    top: 50%;
    right: -0.5em;
    -webkit-transform: translateY(-50%) rotate(60deg);
    -ms-transform: translateY(-50%) rotate(60deg);
    -o-transform: translateY(-50%) rotate(60deg);
    transform: translateY(-50%) rotate(60deg);
}

.global-nav.whatwedo {
    top: 50%;
    left: -1em;
    -webkit-transform: translateY(-50%) rotate(60deg);
    -ms-transform: translateY(-50%) rotate(60deg);
    -o-transform: translateY(-50%) rotate(60deg);
    transform: translateY(-50%) rotate(60deg);
}

.global-nav.about span,
.global-nav.portfolio span {
    bottom: 500px;
}

.global-nav.contacts span {
    top: 500px;
}

.global-nav.whatwedo span {
    height: 100%;
    width: 1000px;
    left: auto;
    right: 500px;
    top: 0;
}

.global-nav.portfolio:hover span,
.global-nav.portfolio.active span,
.global-nav.about:hover span,
.global-nav.about.active span {
    bottom: 0;
}

.global-nav.contacts:hover span,
.global-nav.contacts.active span {
    top: 0;
}

.global-nav.whatwedo:hover span,
.global-nav.whatwedo.active span {
    right: 0;
}

.buttons {
    margin: 2em;
    position: absolute;
    top: -6em;
    right: 1em;
    -webkit-transition: top 0.5s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    -o-transition: top 0.5s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    transition: top 0.5s cubic-bezier(0.77, -0.45, 0.22, 1.215);
}

.buttons a {
    float: left;
    margin-left: 2em;
    width: 3em;
    height: 3em;
    color: #fff;
    z-index: 100000;
    position: relative;
}

.buttons a span {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
}

.buttons a span:before,
.buttons a span:after {
    content: '';
    position: absolute;
    width: 15%;
    background-color: #fff;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.buttons a.closeWork span:before,
.buttons a.closeWork span:after {
    top: 0;
    left: 0;
    height: 141.4%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
}

.buttons a.closeWork span:after {
    left: auto;
    right: 0;
    -webkit-transform: translateX(50%) rotate(45deg);
    -ms-transform: translateX(50%) rotate(45deg);
    -o-transform: translateX(50%) rotate(45deg);
    transform: translateX(50%) rotate(45deg);
}

.buttons a.prevWork span:before,
.buttons a.prevWork span:after,
.buttons a.nextWork span:before,
.buttons a.nextWork span:after {
    top: 0;
    left: 10%;
    height: 74.5%;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
}

.buttons a.prevWork span:after,
.buttons a.nextWork span:after {
    top: auto;
    bottom: 0;
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.buttons a.prevWork span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    left: auto;
    right: 0;
}

.buttons a.prevWork:hover span {
    -webkit-animation: prev 0.3s ease;
    -o-animation: prev 0.3s ease;
    animation: prev 0.3s ease;
}

.buttons a.nextWork:hover span {
    -webkit-animation: next 0.3s ease;
    -o-animation: next 0.3s ease;
    animation: next 0.3s ease;
}

.buttons a.closeWork:hover span {
    -webkit-animation: close 0.3s ease;
    -o-animation: close 0.3s ease;
    animation: close 0.3s ease;
}

#container.hidelinks a.global-nav.about {
    top: -10%;
}

#container.hidelinks a.global-nav.portfolio {
    right: -10%;
}

#container.hidelinks a.global-nav.contacts {
    bottom: -10%;
}

#container.hidelinks a.global-nav.whatwedo {
    left: -10%;
}

@-webkit-keyframes next {
    50% {
        left: 50%;
    }
}

@-o-keyframes next {
    50% {
        left: 50%;
    }
}

@keyframes next {
    50% {
        left: 50%;
    }
}

@-webkit-keyframes prev {
    50% {
        right: 50%;
    }
}

@-o-keyframes prev {
    50% {
        right: 50%;
    }
}

@keyframes prev {
    50% {
        right: 50%;
    }
}

@-webkit-keyframes close {
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@-o-keyframes close {
    100% {
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes close {
    100% {
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

#home {
    left: 0;
    top: 0;
/* showreel */
/* container */
/* static lines */
}

#home #showreel {
    width: 26em;
    height: 26em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
/* circle */
}

#home #showreel .triangle:nth-of-type(2) {
    top: 1em;
    left: 1.8em;
    border-right: 0.2em solid #03f;
    z-index: -1;
}

#home #showreel .triangle:nth-of-type(2) div {
    border: 0.2em solid #03f;
}

#home #showreel .triangle img {
    position: absolute;
    height: 120%;
    width: 120%;
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) skew(30deg);
    -ms-transform: translate(-50%, -50%) skew(30deg);
    -o-transform: translate(-50%, -50%) skew(30deg);
    transform: translate(-50%, -50%) skew(30deg);
}

#home #showreel span {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 0.05em solid #03f;
    font-size: 3.4em;
    color: #03f;
    cursor: pointer;
    font-weight: 300;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
/* triagle */
/* text */
}

#home #showreel span em {
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-width: 0.3em 0.5em;
    border-color: transparent;
    border-left-color: #03f;
    -webkit-transition: border-color 0.3s ease;
    -o-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
    -webkit-transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    -o-transform: translate(-20%, -50%);
    transform: translate(-20%, -50%);
}

#home #showreel span:before,
#home #showreel span:after {
    content: "sh";
    position: absolute;
    right: 100%;
    top: 0;
    padding: 0.1em;
}

#home #showreel span:after {
    content: "wreel";
    right: auto;
    left: 100%;
}

#home #showreel span:hover {
    border-color: #e8ff00;
}

#home #showreel span:hover em {
    border-left-color: #ff5151;
}

#home .clockwise hr.line_1 {
    top: 84%;
    left: 58.5%;
}

#home .clockwise hr.line_2 {
    top: 104%;
    left: 61%;
}

#home .clockwise hr.line_3 {
    top: 116%;
    left: 49%;
}

#home .clockwise hr.line_4 {
    top: 90%;
    left: 55%;
}

#home .clockwise hr.line_5 {
    top: 94%;
    left: 10%;
}

#home .clockwise hr.line_6 {
    bottom: 65%;
    left: 58.5%;
}

#home .clockwise hr.line_7 {
    bottom: 89%;
    left: 50%;
}

#home .clockwise hr.line_8 {
    bottom: 109%;
    left: 64%;
}

#home .clockwise hr.line_9 {
    bottom: 71%;
    left: 52.5%;
}

#home .clockwise hr.line_10 {
    bottom: 21%;
    left: 143%;
}

#home .counterclockwise hr.line_1 {
    top: 30%;
    left: 38.2%;
}

#home .counterclockwise hr.line_2 {
    bottom: 65%;
    left: 35%;
}

#home .counterclockwise hr.line_3 {
    left: 26%;
    bottom: 77%;
}

#home .counterclockwise hr.line_4 {
    left: 42%;
    top: 78%;
}

#home .counterclockwise hr.line_5 {
    left: 25%;
    bottom: 13%;
}

#home .counterclockwise hr.line_6 {
    left: 50%;
    bottom: -8%;
}

#ru {
    position: absolute;
    color: #03f;
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
    left: -10%;
    bottom: 0;
}

#aboutus {
    bottom: 205.885%;
    left: -90%;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
/* static lines and rounds */
/* triangles People and Projects */
}

#aboutus .clockwise {
    z-index: auto;
}

#aboutus .clockwise hr.line_1 {
    top: 15%;
    left: 56%;
}

#aboutus .clockwise hr.line_2 {
    bottom: 93%;
    left: 60%;
}

#aboutus .clockwise div.circle.c1 {
    width: 15em;
    height: 15em;
    top: -30%;
    left: 40%;
}

#aboutus .clockwise hr.line_3 {
    left: 62.5%;
    top: -16%;
}

#aboutus .clockwise hr.line_4 {
    top: 52%;
    left: 87%;
}

#aboutus .clockwise hr.line_5 {
    top: 77%;
    left: 83%;
}

#aboutus .clockwise div.circle.c2 {
    width: 7em;
    height: 7em;
    top: 136%;
    left: 36%;
}

#aboutus .clockwise hr.line_6 {
    top: 135%;
    left: 43%;
}

#aboutus .clockwise hr.line_7 {
    top: 131%;
    left: 41%;
    height: 5em;
    width: 0.4em;
}

#aboutus .clockwise hr.line_8 {
    top: 93%;
    left: 48%;
    height: 1.4em;
    width: 50%;
}

#aboutus .triangle {
    border-right: 0.15em solid rgba(255,255,255,0.1);
}

#aboutus .triangle div {
    border: 0.15em solid rgba(255,255,255,0.1);
}

#aboutus .people {
    top: 14%;
    left: -0.5%;
    width: 14em;
    height: 14em;
    position: absolute;
}

#aboutus .people p,
#aboutus .projects p {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.3em;
    font-weight: 700;
    color: rgba(255,255,255,0.2);
}

#aboutus .people p span,
#aboutus .projects p span {
    display: block;
    color: #ff5151;
    font-size: 3.5em;
}

#aboutus .projects {
    bottom: 5%;
    right: -1%;
    width: 14em;
    height: 14em;
    position: absolute;
}

#aboutus .projects p {
    top: 30%;
}

#aboutus .projects p span {
    color: #e8b700;
}

#aboutus .projects .triangle {
    -webkit-transform: translate(-25%) scaleY(-1) skew(30deg);
    -ms-transform: translate(-25%) scaleY(-1) skew(30deg);
    -o-transform: translate(-25%) scaleY(-1) skew(30deg);
    transform: translate(-25%) scaleY(-1) skew(30deg);
}

#bigText {
    position: absolute;
    left: 40%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
/* paragraph */
/* big text */
}

#bigText:after,
#bigText:before {
    content: '\e800';
    position: absolute;
    color: #03f;
    font-size: 2.6em;
    font-family: 'fontello';
    bottom: 17%;
    right: 0;
}

#bigText:before {
    bottom: auto;
    right: auto;
    left: -5%;
    top: 1%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#bigText > p:first-of-type {
    line-height: 1.2em;
    font-size: 0.8em;
    width: 25%;
    padding: 1.5em 0 1em 2.5em;
    color: #ff5151;
    text-shadow: 0 0 1px #ff5151;
}

#bigText > p:last-of-type {
    position: absolute;
    bottom: 2em;
    right: 4em;
    line-height: 1.3em;
    font-size: 0.95em;
    width: 55%;
    color: rgba(255,255,255,0.2);
    text-shadow: 0 0 2px rgba(255,255,255,0.2);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

#bigText div {
    font-size: 6em;
    text-transform: uppercase;
}

#bigText div span {
    font-weight: 900;
    position: relative;
    float: left;
    margin-right: 0.6em;
    margin-bottom: 0.6em;
    height: 1em;
    width: 1em;
    text-align: center;
}

#bigText div span em {
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
}

#bigText div span em:after {
    content: attr(data-letter);
}

#bigText div span em b,
#bigText div span em i {
    position: absolute;
    overflow: hidden;
}

#bigText div span em i {
    display: none;
}

#bigText div span em b.vertical {
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    -o-transform-origin: bottom center;
    transform-origin: bottom center;
}

#bigText div span em b.horizontal {
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#bigText div span em i.vertical {
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
}

#bigText div span em i.horizontal {
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
}

#bigText div span.reverse {
    direction: rtl;
}

#bigText .animated-letter em:after {
    color: transparent;
    opacity: 0;
}

#bigText .animated-letter b {
    z-index: 1;
    -webkit-transition: -webkit-transform 0.75s ease-in-out 0.25s;
    -o-transition: -o-transform 0.75s ease-in-out 0.25s;
    transition: transform 0.75s ease-in-out 0.25s;
}

#bigText .animated-letter i {
    z-index: 2;
    display: block;
    -webkit-transition: -webkit-transform 0.75s ease-in-out;
    -o-transition: -o-transform 0.75s ease-in-out;
    transition: transform 0.75s ease-in-out;
}

#bigText .animated-letter b.vertical {
    height: 51% !important;
}

#bigText .animated-letter b.horizontal {
    width: 51% !important;
    direction: rtl;
}

#bigText .animated-letter i.vertical {
    height: 50% !important;
    direction: ltr;
}

#bigText .animated-letter i.horizontal {
    width: 50%;
    direction: ltr;
}

#bigText .animated-letter.f b.horizontal {
    width: 57% !important;
}

#bigText .animated-letter.f i.horizontal {
    width: 44% !important;
}

#bigText .animated-letter.l b.vertical,
#bigText .animated-letter.l2 b.vertical {
    height: 64% !important;
}

#bigText .animated-letter.l i.vertical,
#bigText .animated-letter.l2 i.vertical {
    height: 37% !important;
}

#bigText .animated-letter.l i.vertical:before,
#bigText .animated-letter.l2 i.vertical:before {
    content: '';
    display: block;
    margin-top: -118%;
}

#bigText .animated-letter.i i.vertical:before {
    content: '';
    display: block;
    margin-top: -158%;
}

#bigText .animated-letter.s i.vertical:before {
    content: '';
    display: block;
    margin-top: -82%;
}

#bigText .animated-letter.o b.vertical {
    height: 52%;
}

#bigText .animated-letter.o i.vertical:before {
    content: '';
    display: block;
    margin-top: -65%;
}

#bigText .animated-letter.e i.vertical:before {
    content: '';
    display: block;
    margin-top: -83%;
}

#bigText .rotated-letter b.vertical {
    -webkit-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

#bigText .rotated-letter b.horizontal {
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

#bigText .rotated-letter i.vertical {
    -webkit-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

#bigText .rotated-letter i.horizontal {
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

#bigText .all {
    float: left;
    color: #17ed90;
}

#bigText .all b {
    color: #00bc5b;
}

#bigText .is {
    color: #ffd42c;
    float: left;
}

#bigText .is b {
    color: #dead00;
}

#bigText .full {
    color: #42b1fe;
    float: left;
    clear: left;
}

#bigText .full b {
    color: #1f7fc2;
}

#bigText .of {
    color: #ff6ea5;
    float: left;
    clear: left;
}

#bigText .of b {
    color: #dd5283;
}

#bigText .love {
    color: #ff5151;
    float: left;
}

#bigText .love b {
    color: #dd3535;
}

#portf {
    left: 205.885%;
    bottom: 140%;
/* list */
/* lines */
/* triagles */
/* scrollbar */
}

#portf .listcontainer {
    white-space: nowrap;
    position: absolute;
    left: -20%;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: margin-left 0.2s ease-out;
    -o-transition: margin-left 0.2s ease-out;
    transition: margin-left 0.2s ease-out;
}

#portf .listcontainer ul {
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 37em;
}

#portf .listcontainer ul li a {
    display: inline-block;
    color: #e8b700;
    font-size: 3.4em;
    padding: 0.2em;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

#portf .listcontainer ul li a:hover {
    color: #fff;
}

#portf .listcontainer ul li.year {
    position: absolute;
    color: #03f;
    font-size: 6.2em;
    z-index: -1;
    top: -0.1em;
    left: 0;
    -webkit-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
    -webkit-transform: translateX(-85%);
    -ms-transform: translateX(-85%);
    -o-transform: translateX(-85%);
    transform: translateX(-85%);
}

#portf .clockwise hr.line_1 {
    top: 36%;
    left: -5%;
    height: 100%;
}

#portf .clockwise hr.line_2 {
    left: -12%;
    top: 58%;
    height: 30%;
    width: 1em;
}

#portf .clockwise hr.line_3 {
    top: -115%;
    left: 135%;
}

#portf .clockwise hr.line_4 {
    height: 25%;
    width: 1em;
    left: 130%;
    top: -10%;
}

#portf .clockwise hr.line_5 {
    height: 13%;
    width: 2em;
    left: 140%;
    top: -2%;
}

#portf .clockwise hr.line_6 {
    top: -70%;
    left: 109%;
}

#portf .clockwise div.c1 {
    width: 23em;
    height: 23em;
    left: -38%;
    top: 80%;
    color: #ff5151;
}

#portf .clockwise div.c1 p {
    font-weight: 700;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 6.5em;
    -webkit-transform: translate(-50%, -50%) rotate(-60deg);
    -ms-transform: translate(-50%, -50%) rotate(-60deg);
    -o-transform: translate(-50%, -50%) rotate(-60deg);
    transform: translate(-50%, -50%) rotate(-60deg);
}

#portf .clockwise div.c1 p span {
    display: block;
    font-size: 0.27em;
}

#portf .counterclockwise hr.line_under {
    top: -27%;
    left: -3%;
    width: 30%;
    height: 0.2em;
    -webkit-transition-property: top, left, background-color, width;
    -o-transition-property: top, left, background-color, width;
    transition-property: top, left, background-color, width;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

#portf .triangle {
    border-right: 0.15em solid rgba(255,255,255,0.05);
    width: 15em;
    height: 13em;
}

#portf .triangle:nth-of-type(1) {
    -webkit-transform: translate(-25%) scale(-0.7) skew(30deg);
    -ms-transform: translate(-25%) scale(-0.7) skew(30deg);
    -o-transform: translate(-25%) scale(-0.7) skew(30deg);
    transform: translate(-25%) scale(-0.7) skew(30deg);
    left: auto;
    top: 4%;
    right: 22%;
}

#portf .triangle:nth-of-type(2) {
    left: 13%;
    top: 75%;
    -webkit-transform: translate(-25%) scale(1.2) skew(30deg);
    -ms-transform: translate(-25%) scale(1.2) skew(30deg);
    -o-transform: translate(-25%) scale(1.2) skew(30deg);
    transform: translate(-25%) scale(1.2) skew(30deg);
}

#portf .triangle div {
    border: 0.15em solid rgba(255,255,255,0.05);
}

#portf .scrollbar {
    position: absolute;
    width: 70%;
    height: 4em;
    top: 105%;
    left: 46%;
}

#portf .scrollbar:before,
#portf .scrollbar:after {
    position: absolute;
    left: -6%;
    bottom: -0.2em;
    content: "";
    width: 16%;
    height: 0.4em;
    background-color: #03f;
}

#portf .scrollbar:after {
    left: auto;
    bottom: auto;
    right: -6%;
    top: -0.2em;
}

#portf .scrollbar span {
    position: absolute;
    height: 60%;
    top: 20%;
    width: 30%;
    background-color: #e8b700;
    -webkit-transition: margin-left 0.2s ease-out;
    -o-transition: margin-left 0.2s ease-out;
    transition: margin-left 0.2s ease-out;
    cursor: -webkit-grab;
}

#portf .scrollbar span:before {
    width: 0.4em;
    height: 100%;
    content: "";
    background-color: #ff5151;
    position: absolute;
    top: -30%;
    left: 50%;
    margin-left: -0.2em;
    box-shadow: 1.2em 0 0 0 #ff5151, -1.2em 0 0 0 #ff5151;
}

#contact {
    left: 90%;
    top: 205.885%;
    font-weight: 700;
/* counterclockwise */
/* circle */
/* clockwise */
/* border triangle */
/* address */
}

#contact div.street {
    position: absolute;
    padding: 2.2em 0;
    text-align: center;
    color: #03f;
    font-size: 1.1em;
}

#contact .counterclockwise > div {
    display: block;
}

#contact .counterclockwise > div span {
    background-color: transparent;
    position: absolute;
    bottom: -68%;
    left: 36%;
    line-height: 1.2em;
    padding: 0.5em 3em;
    background-image: url("../img/subway.png");
    background-repeat: no-repeat;
    background-position: 100% center;
    background-size: 2.3em;
}

#contact .counterclockwise > div.street.part1 {
    top: 20%;
    width: 100%;
    left: -40%;
}

#contact .counterclockwise > div.street.part2 {
    top: 20%;
    width: 50%;
    left: 60%;
}

#contact .counterclockwise > div.street.part3 {
    color: #2989cc;
    width: 35%;
    top: 6%;
    left: 40%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#contact .counterclockwise > div.street.part4 {
    color: #2989cc;
    width: 95%;
    top: 42%;
    right: 33.2%;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

#contact .counterclockwise > div.street.part4 .building {
    position: absolute;
    left: 8em;
    top: -7em;
    width: 2.4em;
    height: 1.2em;
}

#contact .counterclockwise > div.street.part4 .building img {
    position: absolute;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -3em;
    left: -7em;
    width: 13em;
}

#contact .counterclockwise > div.street.part4 .building hr {
    right: 0;
    bottom: 100%;
    width: 0.2em;
    height: 25em;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

#contact .counterclockwise > div.street.part5 {
    color: #e8b700;
    padding: 1.3em 0;
    width: 70%;
    top: 60.5%;
    left: 32.5%;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#contact .counterclockwise > div.street.part6 {
    color: #ff5151;
    padding: 0.6em 0;
    width: 28%;
    top: 38%;
    left: 40%;
}

#contact .counterclockwise > div:nth-of-type(2) {
    display: block;
}

#contact .counterclockwise > div:nth-of-type(2) span {
    background-position: 0 center;
    bottom: 105%;
    left: 12%;
}

#contact .counterclockwise hr.line_1 {
    left: 67%;
    top: 50%;
}

#contact .counterclockwise hr.line_2 {
    left: 57%;
    top: -38%;
}

#contact .c1 {
    width: 17em;
    height: 17em;
    top: 30%;
    right: 12%;
/* fb-tw link */
}

#contact .c1 a {
    position: absolute;
    color: #fff;
    font-family: 'fontello';
    z-index: 100;
    padding: 0.2em;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

#contact .c1 a.facebook {
    font-size: 6em;
    left: 20%;
    top: 20%;
}

#contact .c1 a.facebook:hover {
    color: #ff5151;
}

#contact .c1 a.facebook:before {
    content: '\e802';
}

#contact .c1 a.twitter {
    font-size: 2.7em;
    right: 22%;
    top: -16%;
}

#contact .c1 a.twitter:hover {
    color: #e8b700;
}

#contact .c1 a.twitter:before {
    content: '\e803';
}

#contact .c1 .triangle {
    top: -17%;
    left: 0%;
    border-right: 0.5em solid #29e02b;
    -webkit-transform: translate(-25%) scale(0.55) skew(30deg);
    -ms-transform: translate(-25%) scale(0.55) skew(30deg);
    -o-transform: translate(-25%) scale(0.55) skew(30deg);
    transform: translate(-25%) scale(0.55) skew(30deg);
}

#contact .c1 .triangle > div {
    border: 0.5em solid #29e02b;
}

#contact .c1 .triangle:nth-of-type(2) {
    top: -32%;
    left: 48%;
    -webkit-transform: translate(-25%) scale(-0.4) skew(30deg);
    -ms-transform: translate(-25%) scale(-0.4) skew(30deg);
    -o-transform: translate(-25%) scale(-0.4) skew(30deg);
    transform: translate(-25%) scale(-0.4) skew(30deg);
}

#contact .clockwise {
    display: block;
}

#contact .clockwise hr.line_1 {
    left: 26%;
    bottom: 50%;
    height: 300%;
}

#contact .clockwise hr.line_2 {
    left: 26%;
    top: 50%;
}

#contact .borderTriangle {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 43em;
    height: 43em;
}

#contact .borderTriangle .triangle {
    border-right: 0.15em solid rgba(255,255,255,0.05);
}

#contact .borderTriangle .triangle div {
    border: 0.15em solid rgba(255,255,255,0.05);
}

#contact p {
    position: absolute;
    top: 18%;
    left: 13%;
    color: #03f;
    font-size: 1.3em;
    padding-left: 1em;
    line-height: 1.3em;
}

#contact p a {
    color: #fff;
    margin-left: -0.5em;
}

#wedo {
    left: -205.885%;
    top: 140%;
    font-weight: 700;
/* triagles */
/* figures */
}

#wedo .triangle {
    border-right: 0.15em solid rgba(255,255,255,0.05);
    width: 6em;
    height: 5.196em;
    top: 12%;
    left: 7%;
}

#wedo .triangle:nth-of-type(1) {
    -webkit-transform: translate(-25%) scaleY(-1) skew(30deg);
    -ms-transform: translate(-25%) scaleY(-1) skew(30deg);
    -o-transform: translate(-25%) scaleY(-1) skew(30deg);
    transform: translate(-25%) scaleY(-1) skew(30deg);
}

#wedo .triangle:nth-of-type(2) {
    left: auto;
    right: 15%;
    top: 45%;
    -webkit-transform: translate(-25%) scale(1.4) skew(30deg);
    -ms-transform: translate(-25%) scale(1.4) skew(30deg);
    -o-transform: translate(-25%) scale(1.4) skew(30deg);
    transform: translate(-25%) scale(1.4) skew(30deg);
}

#wedo .triangle div {
    border: 0.15em solid rgba(255,255,255,0.05);
}

#wedo .clockwise div.c1 {
    width: 9em;
    height: 9em;
    top: 110%;
    left: 0;
}

#wedo .clockwise div.c2 {
    width: 18em;
    height: 18em;
    top: 0;
    left: 87%;
}

#wedo .clockwise hr.line_1 {
    top: 100%;
    left: 9%;
}

#wedo .clockwise hr.line_2 {
    left: 103%;
    top: 20%;
    height: 40%;
    width: 1em;
}

#wedo .clockwise hr.line_3 {
    left: 108%;
    top: -25%;
    width: 0.3em;
    height: 80%;
}

#wedo .clockwise hr.line_top,
#wedo .clockwise hr.line_bottom {
    -webkit-transition-property: left, top, background-color, width, height;
    -o-transition-property: left, top, background-color, width, height;
    transition-property: left, top, background-color, width, height;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

#wedo .clockwise hr.line_top {
    left: 6%;
    top: 96%;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

#wedo .clockwise hr.line_bottom /* <<<<<< ? */ {
    left: 14%;
    top: 111%;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#wedo .counterclockwise ul div.units {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #03f;
    font-size: 30em;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    z-index: -100;
}

#wedo .counterclockwise ul li {
    margin: 0.27em 0;
    font-size: 5em;
    cursor: default;
    position: relative;
    -webkit-transition: padding cubic-bezier(1, -0.6, 0.64, 0.8) 0.5s;
    -o-transition: padding cubic-bezier(1, -0.6, 0.64, 0.8) 0.5s;
    transition: padding cubic-bezier(1, -0.6, 0.64, 0.8) 0.5s;
/* strategy */
/* creative */
/* mobile */
/* production */
/* integration */
/* smm */
/* seo */
}

#wedo .counterclockwise ul li:hover ~ div {
    color: rgba(255,255,255,0.1);
}

#wedo .counterclockwise ul li p {
    position: relative;
    display: inline-block;
    color: #29e02b;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    z-index: -1;
    pointer-events: none;
}

#wedo .counterclockwise ul li p span {
    position: absolute;
    width: auto;
    white-space: nowrap;
    top: 50%;
    margin: 0 2.5em;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    color: #fff;
    font-size: 0.33em;
    opacity: 0;
}

#wedo .counterclockwise ul li:hover > p {
    pointer-events: auto;
    color: #fff;
}

#wedo .counterclockwise ul li:hover > p span {
    -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
    -o-transition: opacity 0.2s, -o-transform 0.3s;
    transition: opacity 0.2s, transform 0.3s;
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#wedo .counterclockwise ul li.strategy {
    padding-left: 2em;
}

#wedo .counterclockwise ul li.strategy:hover {
    padding-left: 1em;
}

#wedo .counterclockwise ul li.strategy p > span {
    left: 100%;
}

#wedo .counterclockwise ul li.strategy hr.line_top {
    background-color: #ff5151;
    width: 0.2em;
    height: 28%;
    top: 10%;
}

#wedo .counterclockwise ul li.strategy hr.line_bottom {
    background-color: #e8b700;
    width: 0.2em;
    height: 100%;
    top: 0;
}

#wedo .counterclockwise ul li.creative {
    padding-left: 3.7em;
}

#wedo .counterclockwise ul li.creative:hover {
    padding-left: 6.5em;
}

#wedo .counterclockwise ul li.creative p > span {
    right: 100%;
}

#wedo .counterclockwise ul li.creative hr.line_top {
    background-color: #e8b700;
    width: 0.2em;
    height: 43%;
    top: 39%;
}

#wedo .counterclockwise ul li.creative hr.line_bottom {
    background-color: #03f;
    width: 0.2em;
    height: 110%;
    top: -15%;
}

#wedo .counterclockwise ul li.mobile {
    padding-left: 1.3em;
}

#wedo .counterclockwise ul li.mobile:hover {
    padding-left: 0.5em;
}

#wedo .counterclockwise ul li.mobile p > span {
    left: 100%;
}

#wedo .counterclockwise ul li.mobile hr.line_top {
    background-color: #29e02b;
    width: 0.2em;
    height: 39%;
    top: 10%;
}

#wedo .counterclockwise ul li.mobile hr.line_bottom {
    background-color: #ff5151;
    width: 0.2em;
    height: 95%;
    top: -5%;
}

#wedo .counterclockwise ul li.production {
    padding-left: 4.3em;
}

#wedo .counterclockwise ul li.production:hover {
    padding-left: 6.23em;
}

#wedo .counterclockwise ul li.production p > span {
    right: 100%;
}

#wedo .counterclockwise ul li.production hr.line_top {
    background-color: #ff5151;
    width: 0.2em;
    height: 36%;
    top: 35%;
}

#wedo .counterclockwise ul li.production hr.line_bottom {
    background-color: #03f;
    width: 0.2em;
    height: 104%;
    top: -19%;
}

#wedo .counterclockwise ul li.integration {
    padding-left: 0.8em;
}

#wedo .counterclockwise ul li.integration:hover {
    padding-left: 6.23em;
}

#wedo .counterclockwise ul li.integration p > span {
    right: 100%;
}

#wedo .counterclockwise ul li.integration hr.line_top {
    background-color: #ff5151;
    width: 0.2em;
    height: 106%;
    top: -12%;
}

#wedo .counterclockwise ul li.integration hr.line_bottom {
    background-color: #03f;
    width: 0.2em;
    height: 85%;
    top: 40%;
}

#wedo .counterclockwise ul li.smm {
    padding-left: 2em;
}

#wedo .counterclockwise ul li.smm:hover {
    padding-left: 7.5em;
}

#wedo .counterclockwise ul li.smm p > span {
    right: 100%;
}

#wedo .counterclockwise ul li.smm hr.line_top {
    background-color: #03f;
    width: 0.2em;
    height: 38%;
    top: -12%;
}

#wedo .counterclockwise ul li.smm hr.line_bottom {
    background-color: #e8b700;
    width: 0.2em;
    height: 85%;
    top: -4%;
}

#wedo .counterclockwise ul li.seo {
    padding-left: 4.5em;
}

#wedo .counterclockwise ul li.seo:hover {
    padding-left: 2em;
}

#wedo .counterclockwise ul li.seo p > span {
    left: 100%;
}

#wedo .counterclockwise ul li.seo hr.line_top {
    background-color: #03f;
    width: 0.2em;
    height: 67%;
    top: 10%;
}

#wedo .counterclockwise ul li.seo hr.line_bottom {
    background-color: #ff5151;
    width: 0.2em;
    height: 28%;
    top: 45%;
}

#work {
    left: 345.885%;
    top: 205.885%;
/* lines */
/* work */
}

#work .clockwise hr.line_1 {
    left: 80%;
    top: -100%;
    height: 400%;
    width: 0.5em;
}

#work .clockwise hr.line_2 {
    left: -40%;
    top: 95%;
    height: 30%;
    width: 0.8em;
}

#work .clockwise hr.line_3 {
    top: 60%;
    left: 104%;
    height: 25%;
    width: 1em;
}

#work .counterclockwise hr.line_1 {
    top: -70%;
    left: -35%;
    width: 2em;
}

#work div[class^="work_"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: #fff;
    font-weight: 700;
    -webkit-transition: margin 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    -o-transition: margin 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    transition: margin 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
}

#work div[class^="work_"].viewed {
    opacity: 1;
    z-index: 100;
}

#work div[class^="work_"].nextWorkIn {
    z-index: 50;
    opacity: 1;
    -webkit-animation: moveNextIn 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    -o-animation: moveNextIn 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    animation: moveNextIn 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
}

#work div[class^="work_"].nextWorkOut {
    z-index: 50;
    opacity: 1;
    -webkit-animation: moveNextOut 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    -o-animation: moveNextOut 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    animation: moveNextOut 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
}

#work div[class^="work_"].prevWorkIn {
    z-index: 50;
    opacity: 1;
    -webkit-animation: movePrevIn 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    -o-animation: movePrevIn 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    animation: movePrevIn 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
}

#work div[class^="work_"].prevWorkOut {
    z-index: 50;
    opacity: 1;
    -webkit-animation: movePrevOut 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    -o-animation: movePrevOut 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
    animation: movePrevOut 1s cubic-bezier(0.77, -0.45, 0.22, 1.215);
}

#work div[class^="work_"] article.preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#work div[class^="work_"] article.preview .c1 {
    width: 47%;
    padding-top: 47%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 3%;
    overflow: hidden;
}

#work div[class^="work_"] article.preview .c1 img {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
}

#work div[class^="work_"] article.preview .info {
    width: 42em;
    height: 42em;
    position: absolute;
    top: 10%;
    left: 18%;
    text-align: center;
}

#work div[class^="work_"] article.preview .info img {
    position: relative;
    width: 13%;
    margin-left: 43.5%;
    margin-top: 22%;
    display: block;
}

#work div[class^="work_"] article.preview .info h1 {
    font-size: 2.2em;
    position: relative;
    margin: 1.2em 0;
}

#work div[class^="work_"] article.preview .info > hr {
    width: 26%;
    height: 0.2em;
    margin-left: 37%;
    position: relative;
    margin-bottom: 2.5em;
}

#work div[class^="work_"] article.preview .info p {
    position: relative;
    font-size: 1.2em;
    line-height: 1.5em;
}

#work div[class^="work_"] article.preview .info .more {
    bottom: -13%;
    left: 40%;
    width: 20%;
    height: 20%;
    position: absolute;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

#work div[class^="work_"] article.preview .info .more > div {
    left: 75%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%) scale(-1) skew(30deg);
    -ms-transform: translate(-50%, -50%) scale(-1) skew(30deg);
    -o-transform: translate(-50%, -50%) scale(-1) skew(30deg);
    transform: translate(-50%, -50%) scale(-1) skew(30deg);
}

#work div[class^="work_"] article.preview .info .more p {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#work div[class^="work_"] article.preview .info .more hr {
    height: 700%;
    top: 47%;
    left: 50%;
    z-index: -1;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
    pointer-events: none;
}

#work div[class^="work_"] article.fullview {
    position: absolute;
    top: 140%;
    left: 66%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#work div[class^="work_"] article.fullview hr,
#work div[class^="work_"] article.fullview a.visitSite,
#work div[class^="work_"] article.fullview .background {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

#work div[class^="work_"] article.fullview .background {
    width: 100%;
    height: 127%;
    top: 50%;
    left: 5%;
    position: absolute;
}

#work div[class^="work_"] article.fullview .background hr {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

#work div[class^="work_"] article.fullview .background hr.line_1 {
    width: 1.5em;
    height: 12em;
    top: -1em;
    left: 24%;
}

#work div[class^="work_"] article.fullview .background hr.line_2 {
    width: 27em;
    height: 0.2em;
    top: 40%;
    left: 7%;
}

#work div[class^="work_"] article.fullview .background hr.line_3 {
    width: 8em;
    height: 0.7em;
    top: 42%;
    left: 8%;
}

#work div[class^="work_"] article.fullview .background div.c1 {
    width: 15em;
    height: 15em;
    top: 30%;
    left: 10%;
}

#work div[class^="work_"] article.fullview a.visitSite {
    position: absolute;
    left: -13%;
    top: 25em;
    background-color: #0ac968;
    color: #fff;
    font-size: 2em;
    padding: 1em;
    z-index: 10;
}

#work div[class^="work_"] article.fullview h3 {
    font-size: 2em;
    margin: 1.2em 0 0.3em;
}

#work div[class^="work_"] article.fullview p {
    line-height: 1.5em;
    color: rgba(255,255,255,0.3);
}

#work div[class^="work_"] article.fullview aside {
    width: 27%;
    min-height: 100%;
    float: left;
    padding: 8em 8em 0 6em;
    position: relative;
}

#work div[class^="work_"] article.fullview aside hr.line_1 {
    width: 0.2em;
    height: 30em;
    right: 15%;
    top: 0;
    z-index: -1;
}

#work div[class^="work_"] article.fullview aside hr.line_2 {
    width: 1em;
    height: 10em;
    right: 20%;
    top: 5%;
    z-index: -1;
    background-color: #0ac968;
}

#work div[class^="work_"] article.fullview aside ul li:before {
    line-height: 1.5em;
}

#work div[class^="work_"] article.fullview aside ul li.Site:before {
    color: #0ac968;
}

#work div[class^="work_"] article.fullview aside ul li.Mobile:before {
    color: #e8b700;
}

#work div[class^="work_"] article.fullview aside ul li.SEO:before {
    color: #29e02b;
}

#work div[class^="work_"] article.fullview aside ul li.Interactive:before {
    color: #2989cc;
}

#work div[class^="work_"] article.fullview aside ul li.Strategy:before {
    color: #ff6ea5;
}

#work div[class^="work_"] article.fullview article {
    width: 73%;
    min-height: 100%;
    float: left;
    padding-right: 5em;
    padding-bottom: 5em;
    position: relative;
}

#work div[class^="work_"] article.fullview article h1 {
    font-size: 5em;
    padding-top: 1.3em;
}

#work div[class^="work_"] article.fullview article h2 {
    font-size: 2.6em;
    padding: 1.3em 0 1.3em 5em;
}

#work div[class^="work_"] article.fullview article .img {
    overflow: hidden;
    width: 93%;
    margin: 0 0 2em 7%;
}

#work div[class^="work_"] article.fullview article .img img {
    width: 110%;
    left: -5%;
}

#work div[class^="work_"] article.fullview article .text {
    float: left;
    width: 65%;
    padding: 0 6em 3em 12em;
    position: relative;
}

#work div[class^="work_"] article.fullview article .text p {
    font-size: 1.3em;
    padding-bottom: 1em;
}

#work div[class^="work_"] article.fullview article .text hr.line_1 {
    width: 100%;
    height: 1.4em;
    bottom: 20%;
    left: 100%;
}

#work div[class^="work_"] article.fullview article .text hr.line_2 {
    width: 80%;
    height: 0.2em;
    bottom: 19%;
    right: 75%;
}

#work div[class^="work_"] article.fullview article .text hr.line_3 {
    width: 8em;
    height: 2em;
    bottom: 17%;
    right: 97%;
}

#work div[class^="work_"] article.fullview article .text hr.line_4 {
    width: 16em;
    height: 1em;
    bottom: 27%;
    right: 94%;
}

#work div[class^="work_"] article.fullview article .text > ul li {
    font-size: 1.5em;
    line-height: 1.5em;
}

#work div[class^="work_"] article.fullview article .text > ul li span {
    color: rgba(255,255,255,0.3);
}

#work div[class^="work_"] article.fullview article .text:nth-of-type(2) p,
#work div[class^="work_"] article.fullview article .info:nth-of-type(3) p {
    color: #000;
}

#work div[class^="work_"] article.fullview article .slider {
    clear: both;
    width: 100%;
    height: 64em;
    position: relative;
    margin: 3em 0;
}

#work div[class^="work_"] article.fullview article .slider label {
    display: block;
    width: 1.5%;
    padding-top: 1.5%;
    border-radius: 50%;
    background-color: #fff;
    margin: 2% 0;
    position: relative;
    cursor: pointer;
}

#work div[class^="work_"] article.fullview article .slider input {
    display: none;
}

#work div[class^="work_"] article.fullview article .slider input + label span {
    background-color: #29e02b;
    position: absolute;
    width: 0%;
    height: 0%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-property: opacity, width, height;
    -o-transition-property: opacity, width, height;
    transition-property: opacity, width, height;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    opacity: 0;
}

#work div[class^="work_"] article.fullview article .slider input + label hr {
    width: 230%;
    height: 0.2em;
    background-color: #fff;
    right: 400%;
    top: 300%;
    opacity: 0;
    -webkit-transition-property: opacity, top, right;
    -o-transition-property: opacity, top, right;
    transition-property: opacity, top, right;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#work div[class^="work_"] article.fullview article .slider input:checked + label span {
    opacity: 1;
    width: 170%;
    height: 170%;
}

#work div[class^="work_"] article.fullview article .slider input:checked + label > hr,
#work div[class^="work_"] article.fullview article .slider input:hover + label > hr {
    top: 90%;
    right: 10%;
    opacity: 1;
}

#work div[class^="work_"] article.fullview article .slider input:nth-of-type(1):checked ~ div > div:nth-of-type(1),
#work div[class^="work_"] article.fullview article .slider input:nth-of-type(2):checked ~ div > div:nth-of-type(2),
#work div[class^="work_"] article.fullview article .slider input:nth-of-type(3):checked ~ div > div:nth-of-type(3),
#work div[class^="work_"] article.fullview article .slider input:nth-of-type(4):checked ~ div > div:nth-of-type(4),
#work div[class^="work_"] article.fullview article .slider input:nth-of-type(5):checked ~ div > div:nth-of-type(5) {
    opacity: 1;
    left: 0;
    top: 0;
}

#work div[class^="work_"] article.fullview article .slider > div {
    position: absolute;
    top: 0;
    right: 0;
    width: 96%;
    height: 100%;
}

#work div[class^="work_"] article.fullview article .slider > div div {
    position: absolute;
    left: 50%;
    top: -28%;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition-property: top, left, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: top, left, opacity;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    overflow: hidden;
}

#work div[class^="work_"] article.fullview article .slider > div div img {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
}

#work div[class^="work_"] article.fullview article .info {
    float: left;
    width: 35%;
    padding-left: 3em;
    position: relative;
}

#work div[class^="work_"] article.fullview article .info h3 {
    text-align: center;
    margin: 0.5em 0;
}

#work div[class^="work_"] article.fullview article .info .result {
    border: 0.5em solid #e8b700;
    padding: 4em;
    text-align: center;
    position: relative;
}

#work div[class^="work_"] article.fullview article .info .result p {
    color: #fff;
    font-size: 1.4em;
}

#work div[class^="work_"] article.fullview article .info .result p:first-child {
    margin-bottom: 3em;
}

#work div[class^="work_"] article.fullview article .info .result p span {
    display: block;
    color: #e8b700;
    font-size: 3em;
    margin-bottom: 0.3em;
}

#work div[class^="work_"] article.fullview article .info hr.line_1 {
    width: 37%;
    height: 0.8em;
    right: -10%;
    top: 55%;
}

#work div[class^="work_"] article.fullview article .info hr.line_2 {
    width: 25%;
    height: 1.2em;
    right: -14%;
    top: 40%;
}

#work div[class^="work_"] article.fullview article .info .triangle {
    -webkit-transform: scale(-1) skew(30deg);
    -ms-transform: scale(-1) skew(30deg);
    -o-transform: scale(-1) skew(30deg);
    transform: scale(-1) skew(30deg);
    height: 8.66em;
    width: 10em;
    position: relative;
    margin: 7em 0 0 11em;
}

#work div[class^="work_"] article.fullview article .awards {
    position: absolute;
    font-size: 1.3em;
    line-height: 1.5em;
    right: 100%;
    width: 50%;
}

#work div[class^="work_"] article.fullview article .awards h4 {
    font-size: 1.5em;
    line-height: 2em;
}

#work div[class^="work_"] article.fullview article .awards ul span {
    color: #e8b700;
}

#work div[class^="work_"] article.fullview article .top {
    width: 6em;
    height: 6em;
    position: relative;
    color: #000;
    font-size: 1.5em;
    z-index: 10;
    margin: 2em 40%;
    cursor: pointer;
}

#work div[class^="work_"] article.fullview article .top span {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@-webkit-keyframes moveNextIn {
    0% {
        left: 140%;
        top: -140%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@-o-keyframes moveNextIn {
    0% {
        left: 140%;
        top: -140%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes moveNextIn {
    0% {
        left: 140%;
        top: -140%;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@-webkit-keyframes moveNextOut {
    0% {
        left: 0;
        top: 0;
    }

    100% {
        left: -140%;
        top: 140%;
    }
}

@-o-keyframes moveNextOut {
    0% {
        left: 0;
        top: 0;
    }

    100% {
        left: -140%;
        top: 140%;
    }
}

@keyframes moveNextOut {
    0% {
        left: 0;
        top: 0;
    }

    100% {
        left: -140%;
        top: 140%;
    }
}

@-webkit-keyframes movePrevIn {
    0% {
        left: -140%;
        top: 140%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@-o-keyframes movePrevIn {
    0% {
        left: -140%;
        top: 140%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes movePrevIn {
    0% {
        left: -140%;
        top: 140%;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@-webkit-keyframes movePrevOut {
    0% {
        left: 0;
        top: 0;
    }

    100% {
        top: -140%;
        left: 140%;
    }
}

@-o-keyframes movePrevOut {
    0% {
        left: 0;
        top: 0;
    }

    100% {
        top: -140%;
        left: 140%;
    }
}

@keyframes movePrevOut {
    0% {
        left: 0;
        top: 0;
    }

    100% {
        top: -140%;
        left: 140%;
    }
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#playerXfMYNNRGtxMX {
    width: 70% !important;
    height: 0 !important;
    padding-top: 39.375%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#playerXfMYNNRGtxMX.jwfullscreen {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

#playerXfMYNNRGtxMX *:not(.jwpreview) {
    background-image: none !important;
    font-family: "proxima" !important;
}

#playerXfMYNNRGtxMX img,
#playerXfMYNNRGtxMX .jwcapLeft,
#playerXfMYNNRGtxMX .jwcapRight,
#playerXfMYNNRGtxMX .jwmute,
#playerXfMYNNRGtxMX .jwfullscreen,
#playerXfMYNNRGtxMX .jwplay,
#playerXfMYNNRGtxMX .jwtimeSliderThumb,
#playerXfMYNNRGtxMX .jwbackground,
#playerXfMYNNRGtxMX_controlbar_timetooltip {
    display: none !important;
}

#playerXfMYNNRGtxMX_controlbar {
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    max-width: 150% !important;
    width: 150%;
    -webkit-transform: translate(-50%, -50%) rotate(-30deg);
    -ms-transform: translate(-50%, -50%) rotate(-30deg);
    -o-transform: translate(-50%, -50%) rotate(-30deg);
    transform: translate(-50%, -50%) rotate(-30deg);
}

#playerXfMYNNRGtxMX_controlbar_elapsed {
    color: #03f;
    top: 0.6em !important;
    left: 100% !important;
}

#playerXfMYNNRGtxMX_controlbar_duration {
    color: #29e02b;
    top: 0.6em !important;
    right: 100% !important;
}

#playerXfMYNNRGtxMX_controlbar_elapsed,
#playerXfMYNNRGtxMX_controlbar_duration {
    font-size: 4em !important;
    font-weight: 700 !important;
}

#playerXfMYNNRGtxMX .jwtimeSliderProgress {
    background-color: #03f !important;
    height: 0.6em !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#playerXfMYNNRGtxMX .jwtimeSliderBuffer {
    background-color: #29e02b !important;
    height: 0.25em !important;
    top: 50% !important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#playerXfMYNNRGtxMX_display_button {
    display: block !important;
    width: 14% !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 0 !important;
    padding-top: 14% !important;
    border-radius: 50%;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) rotate(-30deg);
    -ms-transform: translate(-50%, -50%) rotate(-30deg);
    -o-transform: translate(-50%, -50%) rotate(-30deg);
    transform: translate(-50%, -50%) rotate(-30deg);
    background-color: #03f;
    z-index: 100;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

#playerXfMYNNRGtxMX_display_button:hover {
    background-color: #e8b700;
}

#playerXfMYNNRGtxMX_display_button:before,
#playerXfMYNNRGtxMX_display_button:after {
    content: "";
    position: absolute;
    width: 20%;
    height: 40%;
    top: 30%;
    left: 40%;
    background-image: -webkit-linear-gradient(right, #29e02b, #29e02b 35%, transparent 35%, transparent 65%, #29e02b 65%, #29e02b);
    background-image: -o-linear-gradient(right, #29e02b, #29e02b 35%, transparent 35%, transparent 65%, #29e02b 65%, #29e02b);
    background-image: linear-gradient(to left, #29e02b, #29e02b 35%, transparent 35%, transparent 65%, #29e02b 65%, #29e02b);
}
