// colors
red = rgba(255, 81, 81, 1)
blue = rgba(0, 51, 255, 1)
light-blue = rgba(41, 137, 204, 1)
yellow = rgba(232, 183, 0, 1)
green = rgba(41, 224, 43, 1)
white = rgba(255, 255, 255, 1)

html
	height 100%

body
	overflow hidden
	min-height 100%
	font-size 100%
	background-color #1a1c20;
	user-select none
	backface-visibility hidden
	cursor default

.g-abs
	position absolute

.layout
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	overflow hidden

.section
	position absolute
	top 0
	left 0
	height 100%
	width 100%
	overflow hidden

.content
	position absolute
	z-index 1
	top 0
	left 0
	height 100%
	width 100%
	overflow-x hidden
	overflow-y auto


social(ratio)

	.social-circle
		border-radius 100%
		
		&_theme
			&_nav-contacts
				width (192px / ratio)
				height (192px / ratio)
				background red

			&_section-contacts
				width (240px / ratio)
				height (240px / ratio)
				background blue
		
		&-link
			position absolute
			z-index 100
			display block
			color #fff
			font-family fontello
			transition color .25s


		&-facebook
			top (80px / ratio)
			left (55px / ratio)
			font-size (88px / ratio)

			&:hover
				color #03f
		
			&:before
				content '\e802'
		
		&-twitter
			top (17px / ratio)
			right (8px / ratio)
			font-size (37px / ratio)

			&:hover
				color rgba(232, 183, 0, 1)

			&:before
				content '\e803'

		&-contacts-facebook
			top (60px / ratio)
			left (76px / ratio)

			&:hover
				color red
			
		&-contacts-twitter
			top (-25px / ratio)
			right (58px / ratio)
			
	.social-triangle
		position absolute
		z-index -1
		display block
		overflow hidden
		width (130px / ratio)
		height (113px / ratio)
		font 0/1 a
		border-right (ratio > 1 ? 2px : 3px) solid rgba(41, 224, 43, 1)
		transform translate(-25%) skew(30deg)

		&:before
			position absolute
			left 50%
			display table
			width 100%
			height 100%
			font-family a
			font-size (113px / ratio)
			line-height (113px / ratio)
			border (3px / ratio) solid rgba(41,224,43,1)
			content ''
			transform skew(-48.5deg)

		&-facebook
			top (-56px / ratio)
			left (-38px / ratio)
			
		&-twitter
			top (12px / ratio)
			left (20px / ratio)
			width (94px / ratio)
			height (81px / ratio)
			transform translate(-25%) skew(30deg) rotate(180deg)