header(ratio)
	.header
		position fixed
		top 0
		left 0
		right 0
		z-index 10000
		width 100%
		height (98px / ratio)
		background rgba(0, 0, 0, .4)

	.logo
		position absolute
		top 0
		left (38 / ratio)px
		bottom 0
		z-index 10000
		margin auto
		display block
		width 0
		height 0
		border 0 solid transparent
		border-left (16px / ratio) solid transparent
		border-right (16px / ratio) solid transparent
		border-bottom (27px / ratio) solid rgba(10, 204, 107, 1)
		box-shadow 0 1px rgba(0, 194, 97, 1)

		&:before
			position absolute
			border 0 solid transparent
			border-right (16px / ratio) solid transparent
			border-bottom (27px / ratio) solid rgba(31, 238, 149, 1)
			content ''

	@keyframes button-show-animate
		50%
			height (32px / ratio)

	@keyframes button-hide-animate
		100%
			transform rotate(180deg)

	.nav
		position fixed
		top 0
		right -75%
		height 100%
		z-index 10010
		padding (34px / ratio) 0 0 (48px / ratio)
		width 75%
		height 100%
		background #03f
		transition .25s ease-out

		&-radio
			display none

			&-show:checked ~ .nav
				transform translateX(-100%)

		&-button
			position absolute
			top (17px / ratio)
			right (22px / ratio)
			margin auto
			display block
			width (64px / ratio)
			height (64px / ratio)
			border-radius (8px / ratio)
			cursor pointer

			&:before
			&:after
				position absolute
				top 0
				left 0
				right 0
				bottom 0
				margin auto
				content ''

			&-show
				&:before
				&:after
					width (30px / ratio)

				&:before
					height (26px / ratio)
					border-top (4px / ratio) solid #fff
					border-bottom (4px / ratio) solid #fff
					transition .25s

				&:after
					height (4px / ratio)
					background #fff

				&:hover:before
					animation button-show-animate .25s ease-out

			&-hide
				&:before
				&:after
					crest-width = 34 / ratio
					if crest-width % 2 == 0
						width (34px / ratio)
					else
						width (34px / ratio) + 1

					height (4px / ratio)
					background #fff

				&:before
					transform  rotate(45deg)

				&:after
					transform  rotate(-45deg)

				&:hover
					animation button-hide-animate .5s

		&-link
			color #fff
			font-family proxima, sans-serif
			font-weight bold
			text-decoration none
			transition color .25s

			&:hover
				color #ff5151

		&-lang
			display block

			&__item
				display inline
				margin-right (35px / ratio)
				
				&-link
					color #5092ff
					font-size (30px / ratio)
					line-height 1

					&:hover
						color #ff5151

					&_state_active
						color #fff

						&:hover
							color #fff
							cursor default
			
		&-menu
			display block
			margin-top (58px / ratio)

			&__item
				display block

				&-link
					font-size (60px / ratio)
					line-height (72px / ratio)

		&-contacts
			position absolute
			left 0
			right 0
			bottom 0
			overflow hidden
			height (512px / ratio)
			color #0122a7
			background #0ac968

			&:before
				position absolute
				top 0
				right 0
				margin-top (-1000px / ratio)
				display block
				height (1000px / ratio)
				width 200%
				content ''
				background #03f
				transform-origin right bottom
				transform rotate(-30deg)

			&:after
				position absolute
				top (40px / ratio)
				right (26px / ratio)
				width (187px / ratio)
				height (14px / ratio)
				background #03f
				transform-origin top right
				transform rotate(-30deg)
				content ''

			&__fig
				&-0
					top (96px / ratio)
					right (358px / ratio)
					width (94px / ratio)
					height (94px / ratio)
					background #e8b700
					border-radius 100%

					&:before
						position absolute
						top (64px / ratio)
						left (24px / ratio)
						width (177px / ratio)
						height (5px / ratio)
						background #ff5151
						transform-origin bottom left
						transform rotate(-30deg)
						content ''

			&__social
				top (155px / ratio)
				right (31px / ratio)

			&__data
				right (78px / ratio)
				bottom (58px / ratio)
				display block
				color #0122a7
				font-family proxima
				font-size (24px / ratio)
				line-height (30px / ratio)
				text-align left
			
			&-link
				color #0122a7
				text-decoration none
				transition color .25s

				&:hover
					color #fff
