about(ratio)
	.content-about
		padding-bottom (50px / ratio)

	.about
		&-letters
			position relative
			margin (128px / ratio) auto (25px / ratio)
			display table
			clearfix()

			&:before
				position absolute
				top (76px / ratio)
				right 50%
				margin-right (-355px / ratio)
				width (185px / ratio)
				height (13px / ratio)
				background blue
				transform rotate(-30deg)
				content ''

			&:after
				margin 0 auto
				padding-top (4px / ratio)
				color blue
				font-family fontello
				font-size (55px / ratio)
				line-height 1
				content '\e800'

		&-letter
			position relative
			if ratio != 1
				letter-margin = -88px / (ratio * 3)
				transform scale(.75)
				margin 0 letter-margin letter-margin
			display block
			float left
			width 88px
			height 80px
			font-family proxima, sans-serif
			font-size 64px
			line-height 80px
			font-weight 900
			text-align center
			text-transform uppercase

			&:before
			&:after
				position absolute
				display block
				width 100%
				height 100%
				content attr(data-letter)
				text-shadow 0 0 1px #1a1c20, 0 0 1px #1a1c20

			&:before
				top 0
				z-index 1
			
			&:after
				z-index 2
				overflow hidden

			&_word
				&_all
					&:before
						color rgba(23, 237, 144, 1)
					
					&:after
						color rgba(0, 188, 91, 1)

					&.about-letter
						&-a:after
							right 0
							padding-right 24%
							width 50%
							direction rtl
							text-shadow 2px 0 0 #1a1c20

						&-l:after
							height 60%

				&_is
					&:before
						color rgba(255, 212, 44, 1)
					
					&:after
						color rgba(222, 173, 0, 1)

					&.about-letter
						&-i:after
							height 49%

						&-s:after
							height 48%

				&_full
					&:before
						color rgba(66, 177, 254, 1)
					
					&:after
						color rgba(31, 127, 194, 1)

					&.about-letter
						&-f:after
							right 0
							width 53%
							padding-right 27%
							direction rtl

						&-u:after
							right 0
							width 50%
							padding-right 21%
							direction rtl
							text-shadow 1px 0 1px #1a1c20, 1px 0 1px #1a1c20

						&-l:after
							height 60%

				&_of
					&:before
						color rgba(255, 110, 165, 1)
					
					&:after
						color rgba(221, 82, 131, 1)

					&.about-letter
						&-o:after
							height 49%

						&-f:after
							right 0
							width 53%
							padding-right 27%
							direction rtl

				&_love
					&:before
						color rgba(255, 81, 81, 1)
					
					&:after
						color rgba(221, 53, 53, 1)

					&.about-letter
						&-l:after
							height 60%

						&-o:after
							right 0
							width 49%
							padding-right 21%
							direction rtl

						&-v:after
							right 0
							width 49%
							padding-right 23%
							direction rtl

						&-e:after
							height 49%

			&-break
				clear left


			for letter in 'a' 'e' 'f' 'i' 'l' 'o' 's' 'u' 'v'
				&-{letter}
					&:before
					&:after
						content letter
		
		&-circle
			position relative
			margin 0 auto
			width (196px / ratio)
			height (196px / ratio)
			font-family proxima
			font-size (24px / ratio)
			line-height 1
			font-weight bold
			text-align center
			border-radius 100%

			&:before
			&:after
				position absolute
				transform rotate(-30deg)
				content ''

			&:before
				width (200px / ratio)
				height (20px / ratio)
				transform-origin top right
				
			&:after
				z-index -1
				width (464px / ratio)
				height (4px / ratio)
				background #fff
				transform-origin bottom left
			
			&-number
				padding-top (46px / ratio)
				margin-bottom (-3px / ratio)
				display block
				font-family proxima
				font-size (88px / ratio)
				line-height 1
				font-weight bold

		&-people
			margin-bottom (50px / ratio)
			color green
			background red

			&:before
				top (132px / ratio)
				right (160px / ratio)
				background green
				
			&:after
				left (-20px / ratio)
				bottom (-20px / ratio)
				

		&-projects
			color red
			background green
			
			&:before
				top (-56px / ratio)
				right (-56px / ratio)
				width (186px / ratio)
				background red
				
			&:after
				left (-64px / ratio)
				bottom (12px / ratio)

		&-description
			margin 0 auto (56px / ratio)
			display table
			color #a2a5ae
			font-family proxima
			font-size (24px / ratio)
			line-height (33px / ratio)
			font-weight 100
			text-align center
