contacts(ratio)
	.section-contacts
		&__data
			position absolute
			top (140px / ratio)
			left 50%
			z-index 3
			margin-left (-246px / ratio)
			font-family proxima, sans-serif
			font-size (24px / ratio)
			line-height (30px / ratio)
			color blue

			&:before
				position absolute
				top 100%
				left (4px / ratio)
				width (2px / ratio)
				height (290px / ratio)
				background blue
				content ''

			&:after
				position absolute
				top (448px / ratio)
				left (-18px / ratio)
				width (42px / ratio)
				height (20px / ratio)
				background blue
				transform-origin tip right
				transform rotate(-60deg)
				content ''

			&-link
				color blue
				transition color .25s

				&:hover
					color #fff

				&-email
					color #fff
					margin-left (-16px / ratio)

					&:hover
						color red
		&__social
			top (572px / ratio)
			right (50px / ratio)

	.map
		position relative
		
		&-fig
			color green
			font-family proxima
			font-size (16px / ratio)
			line-height (78px / ratio)
			font-weight bold
			text-align center

			&-0
				top (292px / ratio)
				right 50%
				z-index 2
				margin-right (-144px / ratio)
				width (290px / ratio)
				height (78px / ratio)
				background blue
				transform-origin top right
				transform rotate(60deg)

				&:before
					position absolute
					top 0
					left (-300px / ratio)
					bottom 0
					margin auto
					width (300px / ratio)
					height (3px / ratio)
					background green
					content ''

				&:after
					position absolute
					bottom 100%
					left 100%
					padding-left (88px / ratio)
					display block
					width (230px / ratio)
					height (52px / ratio)
					color yellow
					line-height (52px / ratio)
					background red
					content attr(data-street)

			&-1
				top (214px / ratio)
				right 50%
				z-index 2
				margin-right (-144px / ratio)
				width (814px / ratio)
				height (78px / ratio)
				background blue
				transform-origin bottom right
				transform rotate(-60deg)

				&:after
					position absolute
					top (136px / ratio)
					right (16px / ratio)
					width (188px / ratio)
					height (32px / ratio)
					color red
					line-height (32px / ratio)
					background yellow
					transform-origin bottom right
					transform rotate(30deg)
					content attr(data-passage)
			
			&-2
				top (130px / ratio)
				right 50%
				z-index 1
				margin-right (-310px / ratio)
				width (884px / ratio)
				height (78px / ratio)
				color blue
				background light-blue
				transform-origin bottom right
				transform rotate(-30deg)

				&:after
					position absolute
					top 0
					right (24px / ratio)
					content attr(data-street)

			&-3
				top (96px / ratio)
				left 50%
				margin-left (95px / ratio)
				
			&-4
				top (430px / ratio)
				right 50%
				margin-right (60px / ratio)

			&-subway
				padding 0 0 0 (50px / ratio)
				color blue
				font-family proxima
				font-size (16px / ratio)
				line-height (18px / ratio)
				font-weight normal
				transform-origin top right
				transform rotate(-30deg)
				
				&:before
					position absolute
					top 0
					left 0
					bottom 0
					margin auto
					width (40px / ratio)
					height (30px / ratio)
					background url(../images/subway.png) 50% 50% no-repeat // need retina
					background-size (40px / ratio) (40px / ratio)
					content ''
				
				&-right
					padding 0 (50px / ratio) 0 0
					text-align right

					&:before
						left auto
						right 0

			&-buildings
				top (536px / ratio)
				right 50%
				margin-right (116px / ratio)
				width (211px / ratio)
				height (195px / ratio)
				background url(../images/buildings.png) 0 0/100% 100% no-repeat // need retina
