home(ratio)
	.section-home

		&:before
			position absolute
			top (78px / ratio)
			left 50%
			margin-left (-678px / ratio)
			width (1000px / ratio)
			height (3px / ratio)
			background #ff5151
			transform rotate(-30deg)
			content ''
			z-index 1
		

		&__figure
			&-0
				top (-64px / ratio)
				left 50%
				margin-left (30px / ratio)
				width (386px / ratio)
				height (30px / ratio)
				background #e8b700
				transform-origin bottom left
				transform rotate(60deg)

				&:before
					position absolute
					right (-523px / ratio)
					bottom (-16px / ratio)
					display block
					width (583px / ratio)
					height (3px / ratio)
					background inherit
					content ''
				
			&-1
				right 50%
				bottom (310px / ratio)
				margin-right (10px / ratio)
				width (770px / ratio)
				height (3px / ratio)
				background #2ae02b
				transform-origin bottom right
				transform rotate(-30deg)
				
				&:before
					position absolute
					right (60px / ratio)
					bottom (18px / ratio)
					width (112px / ratio)
					height (34px / ratio)
					background inherit
					content ''

			&-2
				bottom (328px / ratio)
				right 50%
				width 0
				height 0
				
				&:before
					position absolute
					right (-310px / ratio)
					top (62px / ratio)
					width (600px / ratio)
					height (30px / ratio)
					background #ff5151
					content ''
					transform-origin bottom left
					transform rotate(60deg)
				
				&:after
					position absolute
					top (-14px / ratio)
					left (130px / ratio)
					width (414px / ratio)
					height (30px / ratio)
					background #03f
					transform-origin bottom left
					transform rotate(60deg)
					content ''

		&__showreel
			position relative
			top (118px / ratio)
			left 50%
			width (472px / ratio)
			height (408px / ratio)
			transform translate(-50%, 0%)

			&:before
				position absolute
				top (48px / ratio)
				left (25px / ratio)
				width (550px / ratio)
				height (4px / ratio)
				background #03f
				transform-origin top left
				transform rotate(60deg)
				content ''

			&-triangle
				position absolute
				width 100%
				height 100%
				overflow hidden
				transform translate(-25%) skew(30deg)

				&-inner
					position absolute
					top 0
					left 50%
					width 100%
					height 100%
					overflow hidden
					transform skew(-49deg)
					
					&-main:before
						display block
						width 100%
						height 100%
						background url(../images/showreel.png) 50% 0% no-repeat
						background-size (641px / ratio) (553px / ratio)
						content ''
						transform translate(-25%, 0%) skew(30deg)

				&-front
					left 0
					top 0

				&-back
					top (16px / ratio)
					left (28px / ratio)
					border-right (3px / ratio) solid rgba(0, 51, 255, 1)
					z-index -1

					&:before
						position absolute
						top 0
						left 50%
						width 100%
						height 100%
						overflow hidden
						transform skew(-49deg)
						border (3px / ratio) solid rgba(0, 51, 255, 1)
						content ''
			
			&-label
				position absolute
				top (156px / ratio)
				left (66px / ratio)
				display block
				width (102px / ratio)
				height (102px / ratio)
				border-radius 50%
				border (.05em / ratio) solid rgba(0,51,255,1)
				font-size (62px / ratio)
				color rgba(0, 51, 255, 1)
				cursor pointer
				font-weight 300
				transition border-color .3s ease

				&:before
				&:after
					display block
					position absolute
					top (7px / ratio)
					padding (.1em / ratio)
				
				&:before
					content 'sh'
					right 100%

				&:after
					content 'wreel'
					right auto
					left 100%

				&:hover
					border-color rgba(232, 283, 0, 1)

					.section-home__showreel-play
						border-left-color rgba(255, 81, 81, 1)

			&-play
				position absolute
				top 50%
				left 50%
				border-style solid
				border-width (.3em / ratio) (.5em / ratio)
				border-color transparent
				border-left-color rgba(0, 51, 255, 1)
				transition border-color .3s ease
				transform translate(-20%, -50%)

		&__quote
			position absolute
			left 0
			right 0
			bottom (36px / ratio)
			height (180px / ratio)
			color #a2a5ae
			font-family proxima
			font-size (24px / ratio)
			line-height (30px / ratio)
			font-weight 100
			text-align center
			
			&:before
				position absolute
				top (-80px / ratio)
				left 0
				right 0
				color rgba(0, 51, 255, 1)
				font-family fontello
				font-size (55px / ratio)
				line-height 1
				content '\e800'
				transform rotate(180deg)
