portfolio(ratio)
	.section-portfolio__fig
		&:before
		&:after
			position absolute
			content ''

		&-0
			top (131px / ratio)
			left 50%
			margin-left (128px / ratio)
			width (103px / ratio)
			height (103px / ratio)
			background-color red
			border-radius 100%
			
			&:before
				top (50px / ratio)
				left (50px / ratio)
				width (93px / ratio)
				height (8px / ratio)
				background-color blue
				transform-origin top left
				transform rotate(-30deg)
		
		&-1
			top (744px / ratio)
			right 50%
			margin-right (250px / ratio)
			width (144px / ratio)
			height (144px / ratio)
			background-color green
			border-radius 100%

			&:before
				top (66px / ratio)
				left (69px / ratio)
				width (93px / ratio)
				height (8px / ratio)
				background-color red
				transform-origin top left
				transform rotate(-30deg)
		
		&-2
			top (462px / ratio)
			left 50%
			margin-left (83px / ratio)
			width (368px / ratio)
			height (3px / ratio)
			transform-origin top left
			transform rotate(-30deg)
			background-color green

			&:before
				left (92px / ratio)
				bottom (21px / ratio)
				width (186px / ratio)
				height (12px / ratio)
				background-color yellow

			&:after
				top (44px / ratio)
				left (92px / ratio)
				width (92px / ratio)
				height (26px / ratio)
				background-color green
	
	.portfolio
		&-calendar
			margin (146px / ratio) auto 0
			display table

			&__item
				display block
				margin-bottom (28px / ratio)

				&-year
					display block
					margin-bottom (-48px / ratio)
					font-family proxima
					font-size (88px / ratio)
					font-weight bold
					line-height 1
					color blue

		&-projects
			display block
			
			&__item
				display block
				padding-left (44px / ratio)

				&-link
					font-family proxima
					font-size (48px / ratio)
					font-weight bold
					line-height (65px / ratio)
					color yellow
					transition color .125s ease-out
					
					&:hover
						color #fff
	