project(ratio)
	
	@keyframes controller-prev-animate
		50%
			margin-left (-8px / ratio)

	@keyframes controller-next-animate
		50%
			margin-left (8px / ratio)

	@keyframes controller-close-animate
		100%
			transform rotate(180deg)

	.project
		position relative
		margin-top (140px / ratio)
		max-width 100%

		&:before
		&:after
			position absolute
			z-index -1
			content ''

		&:before
			top (540px / ratio)
			left 50%
			margin-left (-386px / ratio)
			width (1380px / ratio)
			height (3px / ratio)
			background-color red
			transform-origin top left
			transform rotate(-30deg)

		&:after
			top (-89px / ratio)
			left 50%
			margin-left (145px / ratio)
			width (329px / ratio)
			height (23px / ratio)
			background-color blue
			transform-origin top left
			transform rotate(60deg)

		&-controllers
			position fixed
			z-index 10000
			top 0
			left 50%
			width 0
			height (98px / ratio)

		&-controller
			position absolute
			top 0
			bottom 0
			margin auto
			width (36px / ratio)
			height (36px / ratio)
			cursor pointer

			&-prev
			&-next
				&:before
				&:after
					position absolute
					left 0
					right 0
					margin auto
					width (20px / ratio)
					height (4px / ratio)
					background-color #fff
					content ''

			&-prev
				left (-102px / ratio)

				&:before
					top (18px / ratio)
					transform-origin top left
					transform rotate(-45deg)

				&:after
					bottom (18px / ratio)
					transform-origin bottom left
					transform rotate(45deg)

				&:hover
					animation controller-prev-animate .5s

			&-next
				left (-22px / ratio)
				
				&:before
					top (18px / ratio)
					transform-origin top right
					transform rotate(45deg)

				&:after
					bottom (18px / ratio)
					transform-origin bottom right
					transform rotate(-45deg)

				&:hover
					animation controller-next-animate .5s

			&-close
				left (60px / ratio)

				&:before
				&:after
					position absolute
					top 0
					left 0
					right 0
					bottom 0
					margin auto
					height (4px / ratio)
					width = (34 / ratio) % 2 ? (34px / ratio) : (34px / ratio) + 1
					width width
					background-color #fff
					content ''
				
				&:before
					transform rotate(45deg)
				&:after
					transform rotate(-45deg)

				&:hover
					animation controller-close-animate .5s

		&-logo
			display block
			margin 0 auto (23px / ratio)

		&-name
			margin 0 auto (32px / ratio)
			max-width 78.125%
			font-family proxima
			font-size (48px / ratio)
			line-height 1
			font-weight bold
			color #fff
			text-align center

		&-cover
			margin 0 auto (32px / ratio)
			display block
			width (472px / ratio)
			height (472px / ratio)
			background #444
			border none
			border-radius 100%

		&-subheading
			margin 0 auto (4px / ratio)
			max-width 78.125%
			font-family proxima
			font-size (24px / ratio)
			line-height 1
			font-weight bold
			color #fff
			text-align center

			&-post
				font-weight 100

				&:after
					content ':'

			&-awards
				margin-bottom (21px / ratio)

			&-results
				margin-bottom (20px / ratio)

		&-text
			margin 0 auto (36px / ratio)
			max-width 78.125%
			font-family proxima
			font-size (24px / ratio)
			line-height (33px / ratio)
			font-weight 100
			color #a2a5ae
			text-align center

			&-implementation
				margin-bottom 56px

		&-implementation
			position relative
			overflow hidden
			margin-top (-104px / ratio)
			padding-top (760px / ratio)
			width 100%
			height (1364px / ratio)

			&:before
				position absolute
				top (184px / ratio)
				left 50%
				margin-left (-1000px / ratio)
				z-index -1
				width (2000px / ratio)
				height (828px / ratio)
				background-color yellow
				transform-origin top center
				transform rotate(-30deg)
				content ''

			&:after
				position absolute
				top (1294px / ratio)
				right 50%
				z-index 1
				margin-right (212px / ratio)
				width (94px / ratio)
				height (20px / ratio)
				background-color blue
				transform-origin top center
				transform rotate(60deg)
				content ''


			&__heading
				top (204px / ratio)
				left 0
				right 0
				color #fff
				font-family proxima
				font-size (78px / ratio)
				font-weight bold
				line-height 1
				text-align center
				transform-origin top center
				transform rotate(-30deg)

			&__description
				position absolute
				top (415px / ratio)
				left 50%
				width (250px / ratio)
				font-family proxima
				font-size (18px / ratio)
				line-height (24px / ratio)
				font-style italic
				font-weight 400
				line-height 1

				&:before
					position absolute
					top (-120px / ratio)
					left 0
					right 0
					margin auto
					width 0
					height 0
					border-top (92px / ratio) solid green
					border-left (54px / ratio) solid transparent
					border-right (54px / ratio) solid transparent
					content ''

			&__fig
				position absolute
				top (492px / ratio)
				right 50%
				margin-right (70px / ratio)
				width (204px / ratio)
				height (204px / ratio)
				border-radius 100%
				background blue

				&:before
				&:after
					position absolute
					transform-origin top left
					transform rotate(-30deg)
					content ''
				
				&:before
					left (-51px / ratio)
					bottom (-10px / ratio)
					z-index -1
					width (340px / ratio)
					height (3px / ratio)
					background-color #fff
				
				&:after
					left (3px / ratio)
					bottom (-5px / ratio)
					width (172px / ratio)
					height (8px / ratio)
					background-color green
				
		&-slider
			display table
			margin 0 auto (50px / ratio)
			
			&__slide
				max-width 100%

			&-pager
				position relative
				text-align center
				font-size 0
				line-height 1
				letter-spacing 0
				vertical-align top

				&__item
					display inline-block
					text-align center
					width (60px / ratio)

					&-dot
						position relative
						backface-visibility hidden
						display inline-block
						vertical-align middle
						width (17px / ratio)
						height (17px / ratio)
						background-color #fff
						border-radius 100%
						transition .125s ease-out

						&:after
							position absolute
							top (9px / ratio)
							left (5px / ratio)
							width (20px / ratio)
							height (2px / ratio)
							background-color #fff
							opacity 0
							transition .125s ease-out
							transform-origin top left
							transform rotate(-30deg) scale(1) translateX((100px / ratio))
							content ''

						&:hover
						&_state_active
							background-color green
							width (34px / ratio)
							height (34px / ratio)

							&:after
								top (18px / ratio)
								left (10px / ratio)
								width (40px / ratio)
								height (3px / ratio)
								transform rotate(-30deg) scale(1) translateX(0)
								opacity 1

		&-awards
			position relative
			display block
			max-width 78.125%
			margin 0 auto (142px / ratio)

			&:before
			&:after
				position absolute
				left 50%
				transform-origin top left
				transform rotate(-30deg)
				content ''
			
			&:before
				bottom (-62px / ratio)
				margin-left (-24px / ratio)
				width (51px / ratio)
				height (4px / ratio)
				background-color blue
			
			&:after
				bottom (-112px / ratio)
				margin-left (-70px / ratio)
				width (132px / ratio)
				height (8px / ratio)
				background-color red

		&-results
			position relative
			margin 0 auto (43px / ratio)
			padding-top (48px / ratio)
			width (312px / ratio)
			height (304px / ratio)
			border (5px / ratio) solid yellow

			&:before
			&:after
				position absolute
				left 100%
				transform-origin top left
				transform rotate(-30deg)
				content ''

			&:before
				top (171px / ratio)
				margin-left (-70px / ratio)
				z-index -1
				width (116px / ratio)
				height (8px / ratio)
				background-color blue

			&:after
				top (114px / ratio)
				margin-left (-9px / ratio)
				width (75px / ratio)
				height (12px / ratio)
				background-color red

			&__number
				margin-bottom (10px / ratio)
				font-size (48px / ratio)
				line-height 1
				text-align center
				color yellow
				
			&__description
				margin-bottom (20px / ratio)
				font-size (24px / ratio)
				line-height 1
				text-align center
				color #fff
					

		&-award
			margin 0 auto
			display block
			max-width 78.125%
			font-family proxima
			font-size (24px / ratio)
			line-height (30px / ratio)
			font-weight 100
			color yellow
			text-align center

			&-year
				color #fff

				&:after
					content ':'

		&-visit-site
			position relative
			margin 0 auto (32px / ratio)
			display block
			width (140px / ratio)
			height (140px / ratio)
			font-family proxima
			font-size (24px / ratio)
			font-weight bold
			text-align center
			text-decoration none
			color #000
			background yellow
			border-radius 100%

			&:after
				position absolute
				top 1px
				left 0
				right 0
				bottom 0
				margin auto
				display block
				height (24px / ratio)
				content attr(data-label)

		&-top
			position relative
			margin 0 auto (32px / ratio)
			display block
			height 0
			width 0
			font-family proxima
			font-size (24px / ratio)
			font-weight bold
			text-decoration none
			color #000
			border-left (54px / ratio) solid transparent
			border-right (54px / ratio) solid transparent
			border-bottom (93px / ratio) solid green

			&:after
				position absolute
				top (50px / ratio)
				left (-21px / ratio)
				display block
				height (24px / ratio)
				content attr(data-label)
