wwd(ratio)
	.wwd
		&-figure
			position absolute
			width (128px / ratio)
			height (128px / ratio)
			border-radius 100%

			&:before
				position absolute
				width (120px / ratio)
				height (12px / ratio)
				transform rotate(-30deg)
				content ''

			&-0
				top (-5px / ratio)
				left 50%
				margin-left (80px / ratio)
				background blue

				&:before
					top (64px / ratio)
					right (90px / ratio)
					background yellow
					transform-origin top right

			&-1
				top (700px / ratio)
				right 50%
				margin-right (232px / ratio)
				background yellow

				&:before
					top (-4px / ratio)
					right (-38px / ratio)
					background red
					transform-origin top right

		&-list
			position relative
			left (-130px / ratio)
			margin (42px / ratio) auto 0
			display table
			transform-origin top right
			transform rotate(-30deg)

			&:before
				position absolute
				top (-44px / ratio)
				left 50%
				z-index -1
				margin-left (24px / ratio)
				color blue
				font-family proxima
				font-size (296px / ratio)
				line-height 1
				font-weight bold
				letter-spacing (-11px / ratio)
				text-transform uppercase
				transition color .5s
				transform-origin top left
				transform rotate(90deg)
				content attr(data-bg-text)
			
			&:active:before
			&:hover:before
				color rgba(255, 255, 255, .1)
				
			&__item
				position relative
				display table
				color green
				font-family proxima
				font-size (72px / ratio)
				line-height (108px / ratio)
				font-weight bold
				transition .25s ease-in-out
				cursor pointer
				backface-visibility hidden

				&:before
				&:after
					position absolute
					display block
					height (3px / ratio)
					content ''
					transition .25s ease-in-out
					opacity 0
					backface-visibility hidden

				&-0
					&:before
						top (84px / ratio)
						left 100%
						width (275px / ratio)
						background red
						transform translateX(100%)

					&:after
						top (136px / ratio)
						left (-74px / ratio)
						width (154px / ratio)
						background yellow
						transform translateX(-100%)
				
				&-1
					margin-left (56px / ratio)

					&:before
						top (92px / ratio)
						right (-50px / ratio)
						width (650px / ratio)
						background yellow
						transform translateX(-100%)

					&:after
						top (160px / ratio)
						left (10px / ratio)
						width (275px / ratio)
						background blue
						transform translateX(100%)

				&-2
					margin-left (-108px / ratio)

					&:before
						top (8px / ratio)
						left 100%
						margin-left (20px / ratio)
						width (275px / ratio)
						background green
						transform translateX(100%)

					&:after
						top (104px / ratio)
						left (-10px / ratio)
						width (650px / ratio)
						background red
						transform translateX(-100%)

				&-3
					margin-left (40px / ratio)

					&:before
						top (-10px / ratio)
						right (16px / ratio)
						width (352px / ratio)
						background red
						transform translateX(-100%)

					&:after
						top (28px / ratio)
						left 100%
						margin-left (-4px / ratio)
						width (252px / ratio)
						background blue
						transform translateX(100%)

				&-4
					margin-left (-162px / ratio)

					&:before
						top (-16px / ratio)
						right (4px / ratio)
						width (144px / ratio)
						background red
						transform translateX(200%)

					&:after
						top (40px / ratio)
						right 100%
						margin-right (10px / ratio)
						width (144px / ratio)
						background blue
						transform translateX(-100%)

				&-5
					margin-left (-96px / ratio)
					
					&:before
						top (10px / ratio)
						left 100%
						margin-left (20px / ratio)
						width (240px / ratio)
						background blue
						transform translateX(100%)

					&:after
						top (92px / ratio)
						left (4px / ratio)
						width (420px / ratio)
						background yellow
						transform translateX(-100%)

				&-6
					margin-left 0
					
					&:before
						top 0
						right (4px / ratio)
						width (240px / ratio)
						background blue
						transform translateX(-100%)

					&:after
						top (36px / ratio)
						left 100%
						margin-left (10px / ratio)
						width (190px / ratio)
						background red
						transform translateX(100%)

				&-description
					position absolute
					color #fff
					font-size (24px / ratio)
					line-height 1
					opacity 0
					transition .25s ease-in-out
					backface-visibility hidden


					&-0
						width (400px / ratio)
						top 90%
						left (40px / ratio)
						transform translate((-32px / ratio), 75%)


					&-1
						width (300px / ratio)
						top 95%
						left 10px
						transform translate(100%, 0%)

					&-2
						width (300px / ratio)
						top 30%
						left 100%
						margin-left (20px / ratio)
						transform translate((-56px / ratio), 75%)

					&-3
						width (260px / ratio)
						top -25%
						left 100%
						margin-left (-4px / ratio)
						transform translate(100%, 0%)

					&-4
						width (460px / ratio)
						top -24%
						right 17%
						margin-left (-4px / ratio)
						transform translate(100%, 0%)
					
					&-5
						width (250px / ratio)
						top 25%
						left 100%
						margin-left (20px / ratio)
						transform translate(100%, 0%)
					
					&-6
						width (220px / ratio)
						top -20%
						left 100%
						margin-left (10px / ratio)
						transform translate(100%, 0%)


				&:active
				&:hover
					color #fff

					&.wwd-list__item
						&:before
						&:after
							opacity 1
							transform translate(0)
						
						&-0
							transform translateX((-32px / ratio))
							
						&-1
							transform translateX((110px / ratio))
					
						&-2
							transform translateX((-56px / ratio))
					
						&-3
							transform translateX((-200px / ratio))
						
						&-4
							transform translateX((180px / ratio))
							
						&-5
							transform translateX((-64px / ratio))

						&-6
							transform translateX((-70px / ratio))

					.wwd-list__item-description
						opacity 1
						transform translate(0)
				
