<article class="preview">
	<div class="circle c1">
		<img />
	</div>

	<div class="info">
		<div class="triangle">
			<div class="yellow"></div>
		</div>
		<img/>
		<h1></h1>
		<hr class="white"/>

		<p>Lorem ipsum dolor sit amet, consectetur <br/> 
		adipisicing elit. Rerum, quod recusandae earum <br>
		 molestiae assumenda modi saepe voluptatibus. Animi, <br/> 
		 eum, commodi, illum reiciendis perferendis fuga assumenda <br/> 
		 aliquid quos explicabo possimus recusandae facere rerum at </p>

		<div class="more">
			<div class="triangle">
				<div class="yellow"></div>
			</div>
			<p>More</p>
			<hr class="yellow narrow"/>
		</div>
	</div>
</article>

<article class="fullview"></article>

<script>
	var workName = location.hash.slice(6),
		workContainer = parallax.show.querySelector( '.work_' + workName ),
		buttonMore = workContainer.querySelector( '.more' );

	workContainer.querySelector( '.c1 > img' ).src   = 'ajax/' + workName + '/preview.jpg';
	workContainer.querySelector( '.info > img' ).src = 'ajax/' + workName + '/logo.png';
	workContainer.querySelector( '.info > h1' ).innerHTML = parallax.listContainer.querySelector( 'a[href="' + location.hash + '"]' ).innerHTML;

		buttonMore.onclick = function() {
			parallax.show.querySelector( '.work_' + location.hash.slice(6) ).classList.add( 'full' );
			parallax.container.classList.add( 'hidelinks' );
			parallax.moveable.style.top  = '-345.885%';
			parallax.moveable.style.left = '-411.77%';

			$.ajax({
				url: 'ajax/' + workName + '/full.html',
				cache: false,
				success: function(html) {
					$( '.work_' + workName + ' > .fullview' ).html(html);
				}
			});

		};
</script>