doctype html
html(lang='ru-RU')
	include inc/head
	body
		#container
			include inc/header
			
			#moveable
				include section/home
				include section/about
				include section/portfolio
				include section/contact
				include section/wedo
				include section/work

			include inc/footer
		include inc/script