@font-face {
  font-family: fontello;
  src: url("../fonts/symbols/fontello.eot");
  src: url("../fonts/symbols/fontello.eot#iefix") format('embedded-opentype'),url("../fonts/symbols/fontello.woff") format('woff'),url("../fonts/symbols/fontello.ttf") format('truetype'),url("../fonts/symbols/fontello.svg#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: proxima;
  src: url("../fonts/proxima/pn-light.otf");
  font-weight: 300;
}

@font-face {
  font-family: proxima;
  src: url("../fonts/proxima/pn-reg.otf");
  font-weight: 500;
}

@font-face {
  font-family: proxima;
  src: url("../fonts/proxima/pn-bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: proxima;
  src: url("../fonts/proxima/pn-xbold.otf");
  font-weight: 800;
}

@font-face {
  font-family: proxima;
  src: url("../fonts/proxima/pn-black.otf");
  font-weight: 900;
}

* {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  line-height: 1;
}

a {
  background: transparent;
}

*:focus,
*:active,
*:hover {
  outline: 0;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

ol,
ul {
  list-style: none;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button {
  overflow: visible;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button,
input,
select[multiple],
textarea {
  background-image: none;
}

input,
textarea {
  border-radius: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

[placeholder]:focus::-moz-placeholder {
  color: transparent;
}

[placeholder]:focus::placeholder {
  color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.triangle {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 86.6%;
  overflow: hidden;
  -webkit-transform: translate(-25%) skew(30deg);
  -ms-transform: translate(-25%) skew(30deg);
  -o-transform: translate(-25%) skew(30deg);
  transform: translate(-25%) skew(30deg);
}

.triangle > div {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skew(-49deg);
  -ms-transform: skew(-49deg);
  -o-transform: skew(-49deg);
  transform: skew(-49deg);
}

hr {
  position: absolute;
  border: none;
  margin: 0;
}

hr.long {
  height: 180%;
}

hr.big {
  height: 50%;
}

hr.short {
  height: 20%;
}

hr.narrow {
  width: .2em;
}

hr.thin {
  width: .7em;
}

hr.medium {
  width: 1.5em;
}

hr.wide {
  width: 3em;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.red {
  background-color: #ff5151;
}

.blue {
  background-color: #03f;
}

.lightBlue {
  background-color: #2989cc;
}

.yellow {
  background-color: #e8b700;
}

.green {
  background-color: #29e02b;
}

.white {
  background-color: #fff;
}

.clockwise,
.counterclockwise {
  position: absolute;
  width: 50em;
  height: 50em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotate(-30deg);
  -ms-transform: translate(-50%,-50%) rotate(-30deg);
  -o-transform: translate(-50%,-50%) rotate(-30deg);
  transform: translate(-50%,-50%) rotate(-30deg);
}

.clockwise {
  -webkit-transform: translate(-50%,-50%) rotate(60deg);
  -ms-transform: translate(-50%,-50%) rotate(60deg);
  -o-transform: translate(-50%,-50%) rotate(60deg);
  transform: translate(-50%,-50%) rotate(60deg);
}

html {
  height: 100%;
}

body {
  overflow: hidden;
  min-height: 100%;
  font-size: 100%;
  background-color: #1a1c20;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: default;
}

.g-abs {
  position: absolute;
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  width: 100%;
  height: 98px;
  background: rgba(0,0,0,0.4);
}

.logo {
  position: absolute;
  top: 0;
  left: 38px;
  bottom: 0;
  z-index: 10000;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 27px solid #0acc6b;
  box-shadow: 0 1px #00c261;
}

.logo:before {
  position: absolute;
  border: 0 solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 27px solid #1fee95;
  content: '';
}

.nav {
  position: fixed;
  top: 0;
  right: -75%;
  height: 100%;
  z-index: 10010;
  padding: 34px 0 0 48px;
  width: 75%;
  height: 100%;
  background: #03f;
  -webkit-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
}

.nav-radio {
  display: none;
}

.nav-radio-show:checked ~ .nav {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.nav-button {
  position: absolute;
  top: 17px;
  right: 22px;
  margin: auto;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-button:before,
.nav-button:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
}

.nav-button-show:before,
.nav-button-show:after {
  width: 30px;
}

.nav-button-show:before {
  height: 26px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.nav-button-show:after {
  height: 4px;
  background: #fff;
}

.nav-button-show:hover:before {
  -webkit-animation: button-show-animate .25s ease-out;
  -o-animation: button-show-animate .25s ease-out;
  animation: button-show-animate .25s ease-out;
}

.nav-button-hide:before,
.nav-button-hide:after {
  width: 34px;
  height: 4px;
  background: #fff;
}

.nav-button-hide:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-button-hide:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-button-hide:hover {
  -webkit-animation: button-hide-animate .5s;
  -o-animation: button-hide-animate .5s;
  animation: button-hide-animate .5s;
}

.nav-link {
  color: #fff;
  font-family: proxima,sans-serif;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.nav-link:hover {
  color: #ff5151;
}

.nav-lang {
  display: block;
}

.nav-lang__item {
  display: inline;
  margin-right: 35px;
}

.nav-lang__item-link {
  color: #5092ff;
  font-size: 30px;
  line-height: 1;
}

.nav-lang__item-link:hover {
  color: #ff5151;
}

.nav-lang__item-link_state_active {
  color: #fff;
}

.nav-lang__item-link_state_active:hover {
  color: #fff;
  cursor: default;
}

.nav-menu {
  display: block;
  margin-top: 58px;
}

.nav-menu__item {
  display: block;
}

.nav-menu__item-link {
  font-size: 60px;
  line-height: 72px;
}

.nav-contacts {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 512px;
  color: #0122a7;
  background: #0ac968;
}

.nav-contacts:before {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1000px;
  display: block;
  height: 1000px;
  width: 200%;
  content: '';
  background: #03f;
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.nav-contacts:after {
  position: absolute;
  top: 40px;
  right: 26px;
  width: 187px;
  height: 14px;
  background: #03f;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  content: '';
}

.nav-contacts__fig-0 {
  top: 96px;
  right: 358px;
  width: 94px;
  height: 94px;
  background: #e8b700;
  border-radius: 100%;
}

.nav-contacts__fig-0:before {
  position: absolute;
  top: 64px;
  left: 24px;
  width: 177px;
  height: 5px;
  background: #ff5151;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  content: '';
}

.nav-contacts__social {
  top: 155px;
  right: 31px;
}

.nav-contacts__data {
  right: 78px;
  bottom: 58px;
  display: block;
  color: #0122a7;
  font-family: proxima;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}

.nav-contacts-link {
  color: #0122a7;
  text-decoration: none;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.nav-contacts-link:hover {
  color: #fff;
}

@-webkit-keyframes button-show-animate {
  50% {
    height: 32px;
  }
}

@-o-keyframes button-show-animate {
  50% {
    height: 32px;
  }
}

@keyframes button-show-animate {
  50% {
    height: 32px;
  }
}

@-webkit-keyframes button-hide-animate {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-o-keyframes button-hide-animate {
  100% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes button-hide-animate {
  100% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.social-circle {
  border-radius: 100%;
}

.social-circle_theme_nav-contacts {
  width: 192px;
  height: 192px;
  background: #ff5151;
}

.social-circle_theme_section-contacts {
  width: 240px;
  height: 240px;
  background: #03f;
}

.social-circle-link {
  position: absolute;
  z-index: 100;
  display: block;
  color: #fff;
  font-family: fontello;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.social-circle-facebook {
  top: 80px;
  left: 55px;
  font-size: 88px;
}

.social-circle-facebook:hover {
  color: #03f;
}

.social-circle-facebook:before {
  content: '\e802';
}

.social-circle-twitter {
  top: 17px;
  right: 8px;
  font-size: 37px;
}

.social-circle-twitter:hover {
  color: #e8b700;
}

.social-circle-twitter:before {
  content: '\e803';
}

.social-circle-contacts-facebook {
  top: 60px;
  left: 76px;
}

.social-circle-contacts-facebook:hover {
  color: #ff5151;
}

.social-circle-contacts-twitter {
  top: -25px;
  right: 58px;
}

.social-triangle {
  position: absolute;
  z-index: -1;
  display: block;
  overflow: hidden;
  width: 130px;
  height: 113px;
  font: 0/1 a;
  border-right: 3px solid #29e02b;
  -webkit-transform: translate(-25%) skew(30deg);
  -ms-transform: translate(-25%) skew(30deg);
  -o-transform: translate(-25%) skew(30deg);
  transform: translate(-25%) skew(30deg);
}

.social-triangle:before {
  position: absolute;
  left: 50%;
  display: table;
  width: 100%;
  height: 100%;
  font-family: a;
  font-size: 113px;
  line-height: 113px;
  border: 3px solid #29e02b;
  content: '';
  -webkit-transform: skew(-48.5deg);
  -ms-transform: skew(-48.5deg);
  -o-transform: skew(-48.5deg);
  transform: skew(-48.5deg);
}

.social-triangle-facebook {
  top: -56px;
  left: -38px;
}

.social-triangle-twitter {
  top: 12px;
  left: 20px;
  width: 94px;
  height: 81px;
  -webkit-transform: translate(-25%) skew(30deg) rotate(180deg);
  -ms-transform: translate(-25%) skew(30deg) rotate(180deg);
  -o-transform: translate(-25%) skew(30deg) rotate(180deg);
  transform: translate(-25%) skew(30deg) rotate(180deg);
}

.section-home:before {
  position: absolute;
  top: 78px;
  left: 50%;
  margin-left: -678px;
  width: 1000px;
  height: 3px;
  background: #ff5151;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  content: '';
  z-index: 1;
}

.section-home__figure-0 {
  top: -64px;
  left: 50%;
  margin-left: 30px;
  width: 386px;
  height: 30px;
  background: #e8b700;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.section-home__figure-0:before {
  position: absolute;
  right: -523px;
  bottom: -16px;
  display: block;
  width: 583px;
  height: 3px;
  background: inherit;
  content: '';
}

.section-home__figure-1 {
  right: 50%;
  bottom: 310px;
  margin-right: 10px;
  width: 770px;
  height: 3px;
  background: #2ae02b;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.section-home__figure-1:before {
  position: absolute;
  right: 60px;
  bottom: 18px;
  width: 112px;
  height: 34px;
  background: inherit;
  content: '';
}

.section-home__figure-2 {
  bottom: 328px;
  right: 50%;
  width: 0;
  height: 0;
}

.section-home__figure-2:before {
  position: absolute;
  right: -310px;
  top: 62px;
  width: 600px;
  height: 30px;
  background: #ff5151;
  content: '';
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.section-home__figure-2:after {
  position: absolute;
  top: -14px;
  left: 130px;
  width: 414px;
  height: 30px;
  background: #03f;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  content: '';
}

.section-home__showreel {
  position: relative;
  top: 118px;
  left: 50%;
  width: 472px;
  height: 408px;
  -webkit-transform: translate(-50%,0%);
  -ms-transform: translate(-50%,0%);
  -o-transform: translate(-50%,0%);
  transform: translate(-50%,0%);
}

.section-home__showreel:before {
  position: absolute;
  top: 48px;
  left: 25px;
  width: 550px;
  height: 4px;
  background: #03f;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  content: '';
}

.section-home__showreel-triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: translate(-25%) skew(30deg);
  -ms-transform: translate(-25%) skew(30deg);
  -o-transform: translate(-25%) skew(30deg);
  transform: translate(-25%) skew(30deg);
}

.section-home__showreel-triangle-inner {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skew(-49deg);
  -ms-transform: skew(-49deg);
  -o-transform: skew(-49deg);
  transform: skew(-49deg);
}

.section-home__showreel-triangle-inner-main:before {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/showreel.png") 50% 0% no-repeat;
  background-size: 641px 553px;
  content: '';
  -webkit-transform: translate(-25%,0%) skew(30deg);
  -ms-transform: translate(-25%,0%) skew(30deg);
  -o-transform: translate(-25%,0%) skew(30deg);
  transform: translate(-25%,0%) skew(30deg);
}

.section-home__showreel-triangle-front {
  left: 0;
  top: 0;
}

.section-home__showreel-triangle-back {
  top: 16px;
  left: 28px;
  border-right: 3px solid #03f;
  z-index: -1;
}

.section-home__showreel-triangle-back:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform: skew(-49deg);
  -ms-transform: skew(-49deg);
  -o-transform: skew(-49deg);
  transform: skew(-49deg);
  border: 3px solid #03f;
  content: '';
}

.section-home__showreel-label {
  position: absolute;
  top: 156px;
  left: 66px;
  display: block;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  border: .05em solid #03f;
  font-size: 62px;
  color: #03f;
  cursor: pointer;
  font-weight: 300;
  -webkit-transition: border-color .3s ease;
  -o-transition: border-color .3s ease;
  transition: border-color .3s ease;
}

.section-home__showreel-label:before,
.section-home__showreel-label:after {
  display: block;
  position: absolute;
  top: 7px;
  padding: .1em;
}

.section-home__showreel-label:before {
  content: 'sh';
  right: 100%;
}

.section-home__showreel-label:after {
  content: 'wreel';
  right: auto;
  left: 100%;
}

.section-home__showreel-label:hover {
  border-color: #e8ff00;
}

.section-home__showreel-label:hover .section-home__showreel-play {
  border-left-color: #ff5151;
}

.section-home__showreel-play {
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: .3em .5em;
  border-color: transparent;
  border-left-color: #03f;
  -webkit-transition: border-color .3s ease;
  -o-transition: border-color .3s ease;
  transition: border-color .3s ease;
  -webkit-transform: translate(-20%,-50%);
  -ms-transform: translate(-20%,-50%);
  -o-transform: translate(-20%,-50%);
  transform: translate(-20%,-50%);
}

.section-home__quote {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 36px;
  height: 180px;
  color: #a2a5ae;
  font-family: proxima;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
}

.section-home__quote:before {
  position: absolute;
  top: -80px;
  left: 0;
  right: 0;
  color: #03f;
  font-family: fontello;
  font-size: 55px;
  line-height: 1;
  content: '\e800';
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.content-about {
  padding-bottom: 50px;
}

.about-letters {
  position: relative;
  margin: 128px auto 25px;
  display: table;
}

.about-letters:before,
.about-letters:after {
  content: ' ';
  display: table;
}

.about-letters:after {
  clear: both;
}

.about-letters:before {
  position: absolute;
  top: 76px;
  right: 50%;
  margin-right: -355px;
  width: 185px;
  height: 13px;
  background: #03f;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  content: '';
}

.about-letters:after {
  margin: 0 auto;
  padding-top: 4px;
  color: #03f;
  font-family: fontello;
  font-size: 55px;
  line-height: 1;
  content: '\e800';
}

.about-letter {
  position: relative;
  display: block;
  float: left;
  width: 88px;
  height: 80px;
  font-family: proxima,sans-serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.about-letter:before,
.about-letter:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: attr(data-letter);
  text-shadow: 0 0 1px #1a1c20,0 0 1px #1a1c20;
}

.about-letter:before {
  top: 0;
  z-index: 1;
}

.about-letter:after {
  z-index: 2;
  overflow: hidden;
}

.about-letter_word_all:before {
  color: #17ed90;
}

.about-letter_word_all:after {
  color: #00bc5b;
}

.about-letter_word_all.about-letter-a:after {
  right: 0;
  padding-right: 24%;
  width: 50%;
  direction: rtl;
  text-shadow: 2px 0 0 #1a1c20;
}

.about-letter_word_all.about-letter-l:after {
  height: 60%;
}

.about-letter_word_is:before {
  color: #ffd42c;
}

.about-letter_word_is:after {
  color: #dead00;
}

.about-letter_word_is.about-letter-i:after {
  height: 49%;
}

.about-letter_word_is.about-letter-s:after {
  height: 48%;
}

.about-letter_word_full:before {
  color: #42b1fe;
}

.about-letter_word_full:after {
  color: #1f7fc2;
}

.about-letter_word_full.about-letter-f:after {
  right: 0;
  width: 53%;
  padding-right: 27%;
  direction: rtl;
}

.about-letter_word_full.about-letter-u:after {
  right: 0;
  width: 50%;
  padding-right: 21%;
  direction: rtl;
  text-shadow: 1px 0 1px #1a1c20,1px 0 1px #1a1c20;
}

.about-letter_word_full.about-letter-l:after {
  height: 60%;
}

.about-letter_word_of:before {
  color: #ff6ea5;
}

.about-letter_word_of:after {
  color: #dd5283;
}

.about-letter_word_of.about-letter-o:after {
  height: 49%;
}

.about-letter_word_of.about-letter-f:after {
  right: 0;
  width: 53%;
  padding-right: 27%;
  direction: rtl;
}

.about-letter_word_love:before {
  color: #ff5151;
}

.about-letter_word_love:after {
  color: #dd3535;
}

.about-letter_word_love.about-letter-l:after {
  height: 60%;
}

.about-letter_word_love.about-letter-o:after {
  right: 0;
  width: 49%;
  padding-right: 21%;
  direction: rtl;
}

.about-letter_word_love.about-letter-v:after {
  right: 0;
  width: 49%;
  padding-right: 23%;
  direction: rtl;
}

.about-letter_word_love.about-letter-e:after {
  height: 49%;
}

.about-letter-break {
  clear: left;
}

.about-letter-a:before,
.about-letter-a:after {
  content: 'a';
}

.about-letter-e:before,
.about-letter-e:after {
  content: 'e';
}

.about-letter-f:before,
.about-letter-f:after {
  content: 'f';
}

.about-letter-i:before,
.about-letter-i:after {
  content: 'i';
}

.about-letter-l:before,
.about-letter-l:after {
  content: 'l';
}

.about-letter-o:before,
.about-letter-o:after {
  content: 'o';
}

.about-letter-s:before,
.about-letter-s:after {
  content: 's';
}

.about-letter-u:before,
.about-letter-u:after {
  content: 'u';
}

.about-letter-v:before,
.about-letter-v:after {
  content: 'v';
}

.about-circle {
  position: relative;
  margin: 0 auto;
  width: 196px;
  height: 196px;
  font-family: proxima;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
}

.about-circle:before,
.about-circle:after {
  position: absolute;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  content: '';
}

.about-circle:before {
  width: 200px;
  height: 20px;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}

.about-circle:after {
  z-index: -1;
  width: 464px;
  height: 4px;
  background: #fff;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
}

.about-circle-number {
  padding-top: 46px;
  margin-bottom: -3px;
  display: block;
  font-family: proxima;
  font-size: 88px;
  line-height: 1;
  font-weight: bold;
}

.about-people {
  margin-bottom: 50px;
  color: #29e02b;
  background: #ff5151;
}

.about-people:before {
  top: 132px;
  right: 160px;
  background: #29e02b;
}

.about-people:after {
  left: -20px;
  bottom: -20px;
}

.about-projects {
  color: #ff5151;
  background: #29e02b;
}

.about-projects:before {
  top: -56px;
  right: -56px;
  width: 186px;
  background: #ff5151;
}

.about-projects:after {
  left: -64px;
  bottom: 12px;
}

.about-description {
  margin: 0 auto 56px;
  display: table;
  color: #a2a5ae;
  font-family: proxima;
  font-size: 24px;
  line-height: 33px;
  font-weight: 100;
  text-align: center;
}

.wwd-figure {
  position: absolute;
  width: 128px;
  height: 128px;
  border-radius: 100%;
}

.wwd-figure:before {
  position: absolute;
  width: 120px;
  height: 12px;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  content: '';
}

.wwd-figure-0 {
  top: -5px;
  left: 50%;
  margin-left: 80px;
  background: #03f;
}

.wwd-figure-0:before {
  top: 64px;
  right: 90px;
  background: #e8b700;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}

.wwd-figure-1 {
  top: 700px;
  right: 50%;
  margin-right: 232px;
  background: #e8b700;
}

.wwd-figure-1:before {
  top: -4px;
  right: -38px;
  background: #ff5151;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}

.wwd-list {
  position: relative;
  left: -130px;
  margin: 42px auto 0;
  display: table;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.wwd-list:before {
  position: absolute;
  top: -44px;
  left: 50%;
  z-index: -1;
  margin-left: 24px;
  color: #03f;
  font-family: proxima;
  font-size: 296px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -11px;
  text-transform: uppercase;
  -webkit-transition: color .5s;
  -o-transition: color .5s;
  transition: color .5s;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  content: attr(data-bg-text);
}

.wwd-list:active:before,
.wwd-list:hover:before {
  color: rgba(255,255,255,0.1);
}

.wwd-list__item {
  position: relative;
  display: table;
  color: #29e02b;
  font-family: proxima;
  font-size: 72px;
  line-height: 108px;
  font-weight: bold;
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.wwd-list__item:before,
.wwd-list__item:after {
  position: absolute;
  display: block;
  height: 3px;
  content: '';
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.wwd-list__item-0:before {
  top: 84px;
  left: 100%;
  width: 275px;
  background: #ff5151;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.wwd-list__item-0:after {
  top: 136px;
  left: -74px;
  width: 154px;
  background: #e8b700;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.wwd-list__item-1 {
  margin-left: 56px;
}

.wwd-list__item-1:before {
  top: 92px;
  right: -50px;
  width: 650px;
  background: #e8b700;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.wwd-list__item-1:after {
  top: 160px;
  left: 10px;
  width: 275px;
  background: #03f;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.wwd-list__item-2 {
  margin-left: -108px;
}

.wwd-list__item-2:before {
  top: 8px;
  left: 100%;
  margin-left: 20px;
  width: 275px;
  background: #29e02b;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.wwd-list__item-2:after {
  top: 104px;
  left: -10px;
  width: 650px;
  background: #ff5151;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.wwd-list__item-3 {
  margin-left: 40px;
}

.wwd-list__item-3:before {
  top: -10px;
  right: 16px;
  width: 352px;
  background: #ff5151;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.wwd-list__item-3:after {
  top: 28px;
  left: 100%;
  margin-left: -4px;
  width: 252px;
  background: #03f;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.wwd-list__item-4 {
  margin-left: -162px;
}

.wwd-list__item-4:before {
  top: -16px;
  right: 4px;
  width: 144px;
  background: #ff5151;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}

.wwd-list__item-4:after {
  top: 40px;
  right: 100%;
  margin-right: 10px;
  width: 144px;
  background: #03f;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.wwd-list__item-5 {
  margin-left: -96px;
}

.wwd-list__item-5:before {
  top: 10px;
  left: 100%;
  margin-left: 20px;
  width: 240px;
  background: #03f;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.wwd-list__item-5:after {
  top: 92px;
  left: 4px;
  width: 420px;
  background: #e8b700;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.wwd-list__item-6 {
  margin-left: 0;
}

.wwd-list__item-6:before {
  top: 0;
  right: 4px;
  width: 240px;
  background: #03f;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.wwd-list__item-6:after {
  top: 36px;
  left: 100%;
  margin-left: 10px;
  width: 190px;
  background: #ff5151;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.wwd-list__item-description {
  position: absolute;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  opacity: 0;
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.wwd-list__item-description-0 {
  width: 400px;
  top: 90%;
  left: 40px;
  -webkit-transform: translate(-32px,75%);
  -ms-transform: translate(-32px,75%);
  -o-transform: translate(-32px,75%);
  transform: translate(-32px,75%);
}

.wwd-list__item-description-1 {
  width: 300px;
  top: 95%;
  left: 10px;
  -webkit-transform: translate(100%,0%);
  -ms-transform: translate(100%,0%);
  -o-transform: translate(100%,0%);
  transform: translate(100%,0%);
}

.wwd-list__item-description-2 {
  width: 300px;
  top: 30%;
  left: 100%;
  margin-left: 20px;
  -webkit-transform: translate(-56px,75%);
  -ms-transform: translate(-56px,75%);
  -o-transform: translate(-56px,75%);
  transform: translate(-56px,75%);
}

.wwd-list__item-description-3 {
  width: 260px;
  top: -25%;
  left: 100%;
  margin-left: -4px;
  -webkit-transform: translate(100%,0%);
  -ms-transform: translate(100%,0%);
  -o-transform: translate(100%,0%);
  transform: translate(100%,0%);
}

.wwd-list__item-description-4 {
  width: 460px;
  top: -24%;
  right: 17%;
  margin-left: -4px;
  -webkit-transform: translate(100%,0%);
  -ms-transform: translate(100%,0%);
  -o-transform: translate(100%,0%);
  transform: translate(100%,0%);
}

.wwd-list__item-description-5 {
  width: 250px;
  top: 25%;
  left: 100%;
  margin-left: 20px;
  -webkit-transform: translate(100%,0%);
  -ms-transform: translate(100%,0%);
  -o-transform: translate(100%,0%);
  transform: translate(100%,0%);
}

.wwd-list__item-description-6 {
  width: 220px;
  top: -20%;
  left: 100%;
  margin-left: 10px;
  -webkit-transform: translate(100%,0%);
  -ms-transform: translate(100%,0%);
  -o-transform: translate(100%,0%);
  transform: translate(100%,0%);
}

.wwd-list__item:active,
.wwd-list__item:hover {
  color: #fff;
}

.wwd-list__item:active.wwd-list__item:before,
.wwd-list__item:hover.wwd-list__item:before,
.wwd-list__item:active.wwd-list__item:after,
.wwd-list__item:hover.wwd-list__item:after {
  opacity: 1;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}

.wwd-list__item:active.wwd-list__item-0,
.wwd-list__item:hover.wwd-list__item-0 {
  -webkit-transform: translateX(-32px);
  -ms-transform: translateX(-32px);
  -o-transform: translateX(-32px);
  transform: translateX(-32px);
}

.wwd-list__item:active.wwd-list__item-1,
.wwd-list__item:hover.wwd-list__item-1 {
  -webkit-transform: translateX(110px);
  -ms-transform: translateX(110px);
  -o-transform: translateX(110px);
  transform: translateX(110px);
}

.wwd-list__item:active.wwd-list__item-2,
.wwd-list__item:hover.wwd-list__item-2 {
  -webkit-transform: translateX(-56px);
  -ms-transform: translateX(-56px);
  -o-transform: translateX(-56px);
  transform: translateX(-56px);
}

.wwd-list__item:active.wwd-list__item-3,
.wwd-list__item:hover.wwd-list__item-3 {
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
}

.wwd-list__item:active.wwd-list__item-4,
.wwd-list__item:hover.wwd-list__item-4 {
  -webkit-transform: translateX(180px);
  -ms-transform: translateX(180px);
  -o-transform: translateX(180px);
  transform: translateX(180px);
}

.wwd-list__item:active.wwd-list__item-5,
.wwd-list__item:hover.wwd-list__item-5 {
  -webkit-transform: translateX(-64px);
  -ms-transform: translateX(-64px);
  -o-transform: translateX(-64px);
  transform: translateX(-64px);
}

.wwd-list__item:active.wwd-list__item-6,
.wwd-list__item:hover.wwd-list__item-6 {
  -webkit-transform: translateX(-70px);
  -ms-transform: translateX(-70px);
  -o-transform: translateX(-70px);
  transform: translateX(-70px);
}

.wwd-list__item:active .wwd-list__item-description,
.wwd-list__item:hover .wwd-list__item-description {
  opacity: 1;
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}

.section-portfolio__fig:before,
.section-portfolio__fig:after {
  position: absolute;
  content: '';
}

.section-portfolio__fig-0 {
  top: 131px;
  left: 50%;
  margin-left: 128px;
  width: 103px;
  height: 103px;
  background-color: #ff5151;
  border-radius: 100%;
}

.section-portfolio__fig-0:before {
  top: 50px;
  left: 50px;
  width: 93px;
  height: 8px;
  background-color: #03f;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.section-portfolio__fig-1 {
  top: 744px;
  right: 50%;
  margin-right: 250px;
  width: 144px;
  height: 144px;
  background-color: #29e02b;
  border-radius: 100%;
}

.section-portfolio__fig-1:before {
  top: 66px;
  left: 69px;
  width: 93px;
  height: 8px;
  background-color: #ff5151;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.section-portfolio__fig-2 {
  top: 462px;
  left: 50%;
  margin-left: 83px;
  width: 368px;
  height: 3px;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  background-color: #29e02b;
}

.section-portfolio__fig-2:before {
  left: 92px;
  bottom: 21px;
  width: 186px;
  height: 12px;
  background-color: #e8b700;
}

.section-portfolio__fig-2:after {
  top: 44px;
  left: 92px;
  width: 92px;
  height: 26px;
  background-color: #29e02b;
}

.portfolio-calendar {
  margin: 146px auto 0;
  display: table;
}

.portfolio-calendar__item {
  display: block;
  margin-bottom: 28px;
}

.portfolio-calendar__item-year {
  display: block;
  margin-bottom: -48px;
  font-family: proxima;
  font-size: 88px;
  font-weight: bold;
  line-height: 1;
  color: #03f;
}

.portfolio-projects {
  display: block;
}

.portfolio-projects__item {
  display: block;
  padding-left: 44px;
}

.portfolio-projects__item-link {
  font-family: proxima;
  font-size: 48px;
  font-weight: bold;
  line-height: 65px;
  color: #e8b700;
  -webkit-transition: color .125s ease-out;
  -o-transition: color .125s ease-out;
  transition: color .125s ease-out;
}

.portfolio-projects__item-link:hover {
  color: #fff;
}

.project {
  position: relative;
  margin-top: 140px;
  max-width: 100%;
}

.project:before,
.project:after {
  position: absolute;
  z-index: -1;
  content: '';
}

.project:before {
  top: 540px;
  left: 50%;
  margin-left: -386px;
  width: 1380px;
  height: 3px;
  background-color: #ff5151;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.project:after {
  top: -89px;
  left: 50%;
  margin-left: 145px;
  width: 329px;
  height: 23px;
  background-color: #03f;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.project-controllers {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 50%;
  width: 0;
  height: 98px;
}

.project-controller {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.project-controller-prev:before,
.project-controller-next:before,
.project-controller-prev:after,
.project-controller-next:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 20px;
  height: 4px;
  background-color: #fff;
  content: '';
}

.project-controller-prev {
  left: -102px;
}

.project-controller-prev:before {
  top: 18px;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.project-controller-prev:after {
  bottom: 18px;
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.project-controller-prev:hover {
  -webkit-animation: controller-prev-animate .5s;
  -o-animation: controller-prev-animate .5s;
  animation: controller-prev-animate .5s;
}

.project-controller-next {
  left: -22px;
}

.project-controller-next:before {
  top: 18px;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.project-controller-next:after {
  bottom: 18px;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.project-controller-next:hover {
  -webkit-animation: controller-next-animate .5s;
  -o-animation: controller-next-animate .5s;
  animation: controller-next-animate .5s;
}

.project-controller-close {
  left: 60px;
}

.project-controller-close:before,
.project-controller-close:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 4px;
  width: 34% 34px;
  background-color: #fff;
  content: '';
}

.project-controller-close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.project-controller-close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.project-controller-close:hover {
  -webkit-animation: controller-close-animate .5s;
  -o-animation: controller-close-animate .5s;
  animation: controller-close-animate .5s;
}

.project-logo {
  display: block;
  margin: 0 auto 23px;
}

.project-name {
  margin: 0 auto 32px;
  max-width: 78.125%;
  font-family: proxima;
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.project-cover {
  margin: 0 auto 32px;
  display: block;
  width: 472px;
  height: 472px;
  background: #444;
  border: none;
  border-radius: 100%;
}

.project-subheading {
  margin: 0 auto 4px;
  max-width: 78.125%;
  font-family: proxima;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.project-subheading-post {
  font-weight: 100;
}

.project-subheading-post:after {
  content: ':';
}

.project-subheading-awards {
  margin-bottom: 21px;
}

.project-subheading-results {
  margin-bottom: 20px;
}

.project-text {
  margin: 0 auto 36px;
  max-width: 78.125%;
  font-family: proxima;
  font-size: 24px;
  line-height: 33px;
  font-weight: 100;
  color: #a2a5ae;
  text-align: center;
}

.project-text-implementation {
  margin-bottom: 56px;
}

.project-implementation {
  position: relative;
  overflow: hidden;
  margin-top: -104px;
  padding-top: 760px;
  width: 100%;
  height: 1364px;
}

.project-implementation:before {
  position: absolute;
  top: 184px;
  left: 50%;
  margin-left: -1000px;
  z-index: -1;
  width: 2000px;
  height: 828px;
  background-color: #e8b700;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  content: '';
}

.project-implementation:after {
  position: absolute;
  top: 1294px;
  right: 50%;
  z-index: 1;
  margin-right: 212px;
  width: 94px;
  height: 20px;
  background-color: #03f;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  content: '';
}

.project-implementation__heading {
  top: 204px;
  left: 0;
  right: 0;
  color: #fff;
  font-family: proxima;
  font-size: 78px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.project-implementation__description {
  position: absolute;
  top: 415px;
  left: 50%;
  width: 250px;
  font-family: proxima;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 1;
}

.project-implementation__description:before {
  position: absolute;
  top: -120px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-top: 92px solid #29e02b;
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  content: '';
}

.project-implementation__fig {
  position: absolute;
  top: 492px;
  right: 50%;
  margin-right: 70px;
  width: 204px;
  height: 204px;
  border-radius: 100%;
  background: #03f;
}

.project-implementation__fig:before,
.project-implementation__fig:after {
  position: absolute;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  content: '';
}

.project-implementation__fig:before {
  left: -51px;
  bottom: -10px;
  z-index: -1;
  width: 340px;
  height: 3px;
  background-color: #fff;
}

.project-implementation__fig:after {
  left: 3px;
  bottom: -5px;
  width: 172px;
  height: 8px;
  background-color: #29e02b;
}

.project-slider {
  display: table;
  margin: 0 auto 50px;
}

.project-slider__slide {
  max-width: 100%;
}

.project-slider-pager {
  position: relative;
  text-align: center;
  font-size: 0;
  line-height: 1;
  letter-spacing: 0;
  vertical-align: top;
}

.project-slider-pager__item {
  display: inline-block;
  text-align: center;
  width: 60px;
}

.project-slider-pager__item-dot {
  position: relative;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-transition: .125s ease-out;
  -o-transition: .125s ease-out;
  transition: .125s ease-out;
}

.project-slider-pager__item-dot:after {
  position: absolute;
  top: 9px;
  left: 5px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: .125s ease-out;
  -o-transition: .125s ease-out;
  transition: .125s ease-out;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-30deg) scale(1) translateX(100px);
  -ms-transform: rotate(-30deg) scale(1) translateX(100px);
  -o-transform: rotate(-30deg) scale(1) translateX(100px);
  transform: rotate(-30deg) scale(1) translateX(100px);
  content: '';
}

.project-slider-pager__item-dot:hover,
.project-slider-pager__item-dot_state_active {
  background-color: #29e02b;
  width: 34px;
  height: 34px;
}

.project-slider-pager__item-dot:hover:after,
.project-slider-pager__item-dot_state_active:after {
  top: 18px;
  left: 10px;
  width: 40px;
  height: 3px;
  -webkit-transform: rotate(-30deg) scale(1) translateX(0);
  -ms-transform: rotate(-30deg) scale(1) translateX(0);
  -o-transform: rotate(-30deg) scale(1) translateX(0);
  transform: rotate(-30deg) scale(1) translateX(0);
  opacity: 1;
}

.project-awards {
  position: relative;
  display: block;
  max-width: 78.125%;
  margin: 0 auto 142px;
}

.project-awards:before,
.project-awards:after {
  position: absolute;
  left: 50%;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  content: '';
}

.project-awards:before {
  bottom: -62px;
  margin-left: -24px;
  width: 51px;
  height: 4px;
  background-color: #03f;
}

.project-awards:after {
  bottom: -112px;
  margin-left: -70px;
  width: 132px;
  height: 8px;
  background-color: #ff5151;
}

.project-results {
  position: relative;
  margin: 0 auto 43px;
  padding-top: 48px;
  width: 312px;
  height: 304px;
  border: 5px solid #e8b700;
}

.project-results:before,
.project-results:after {
  position: absolute;
  left: 100%;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  content: '';
}

.project-results:before {
  top: 171px;
  margin-left: -70px;
  z-index: -1;
  width: 116px;
  height: 8px;
  background-color: #03f;
}

.project-results:after {
  top: 114px;
  margin-left: -9px;
  width: 75px;
  height: 12px;
  background-color: #ff5151;
}

.project-results__number {
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  color: #e8b700;
}

.project-results__description {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.project-award {
  margin: 0 auto;
  display: block;
  max-width: 78.125%;
  font-family: proxima;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: #e8b700;
  text-align: center;
}

.project-award-year {
  color: #fff;
}

.project-award-year:after {
  content: ':';
}

.project-visit-site {
  position: relative;
  margin: 0 auto 32px;
  display: block;
  width: 140px;
  height: 140px;
  font-family: proxima;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000;
  background: #e8b700;
  border-radius: 100%;
}

.project-visit-site:after {
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 24px;
  content: attr(data-label);
}

.project-top {
  position: relative;
  margin: 0 auto 32px;
  display: block;
  height: 0;
  width: 0;
  font-family: proxima;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  border-left: 54px solid transparent;
  border-right: 54px solid transparent;
  border-bottom: 93px solid #29e02b;
}

.project-top:after {
  position: absolute;
  top: 50px;
  left: -21px;
  display: block;
  height: 24px;
  content: attr(data-label);
}

@-webkit-keyframes controller-prev-animate {
  50% {
    margin-left: -8px;
  }
}

@-o-keyframes controller-prev-animate {
  50% {
    margin-left: -8px;
  }
}

@keyframes controller-prev-animate {
  50% {
    margin-left: -8px;
  }
}

@-webkit-keyframes controller-next-animate {
  50% {
    margin-left: 8px;
  }
}

@-o-keyframes controller-next-animate {
  50% {
    margin-left: 8px;
  }
}

@keyframes controller-next-animate {
  50% {
    margin-left: 8px;
  }
}

@-webkit-keyframes controller-close-animate {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-o-keyframes controller-close-animate {
  100% {
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes controller-close-animate {
  100% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.section-contacts__data {
  position: absolute;
  top: 140px;
  left: 50%;
  z-index: 3;
  margin-left: -246px;
  font-family: proxima,sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #03f;
}

.section-contacts__data:before {
  position: absolute;
  top: 100%;
  left: 4px;
  width: 2px;
  height: 290px;
  background: #03f;
  content: '';
}

.section-contacts__data:after {
  position: absolute;
  top: 448px;
  left: -18px;
  width: 42px;
  height: 20px;
  background: #03f;
  -webkit-transform-origin: tip right;
  -ms-transform-origin: tip right;
  -o-transform-origin: tip right;
  transform-origin: tip right;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  content: '';
}

.section-contacts__data-link {
  color: #03f;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.section-contacts__data-link:hover {
  color: #fff;
}

.section-contacts__data-link-email {
  color: #fff;
  margin-left: -16px;
}

.section-contacts__data-link-email:hover {
  color: #ff5151;
}

.section-contacts__social {
  top: 572px;
  right: 50px;
}

.map {
  position: relative;
}

.map-fig {
  color: #29e02b;
  font-family: proxima;
  font-size: 16px;
  line-height: 78px;
  font-weight: bold;
  text-align: center;
}

.map-fig-0 {
  top: 292px;
  right: 50%;
  z-index: 2;
  margin-right: -144px;
  width: 290px;
  height: 78px;
  background: #03f;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.map-fig-0:before {
  position: absolute;
  top: 0;
  left: -300px;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 3px;
  background: #29e02b;
  content: '';
}

.map-fig-0:after {
  position: absolute;
  bottom: 100%;
  left: 100%;
  padding-left: 88px;
  display: block;
  width: 230px;
  height: 52px;
  color: #e8b700;
  line-height: 52px;
  background: #ff5151;
  content: attr(data-street);
}

.map-fig-1 {
  top: 214px;
  right: 50%;
  z-index: 2;
  margin-right: -144px;
  width: 814px;
  height: 78px;
  background: #03f;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.map-fig-1:after {
  position: absolute;
  top: 136px;
  right: 16px;
  width: 188px;
  height: 32px;
  color: #ff5151;
  line-height: 32px;
  background: #e8b700;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  content: attr(data-passage);
}

.map-fig-2 {
  top: 130px;
  right: 50%;
  z-index: 1;
  margin-right: -310px;
  width: 884px;
  height: 78px;
  color: #03f;
  background: #2989cc;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.map-fig-2:after {
  position: absolute;
  top: 0;
  right: 24px;
  content: attr(data-street);
}

.map-fig-3 {
  top: 96px;
  left: 50%;
  margin-left: 95px;
}

.map-fig-4 {
  top: 430px;
  right: 50%;
  margin-right: 60px;
}

.map-fig-subway {
  padding: 0 0 0 50px;
  color: #03f;
  font-family: proxima;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.map-fig-subway:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 30px;
  background: url("../images/subway.png") 50% 50% no-repeat;
  background-size: 40px 40px;
  content: '';
}

.map-fig-subway-right {
  padding: 0 50px 0 0;
  text-align: right;
}

.map-fig-subway-right:before {
  left: auto;
  right: 0;
}

.map-fig-buildings {
  top: 536px;
  right: 50%;
  margin-right: 116px;
  width: 211px;
  height: 195px;
  background: url("../images/buildings.png") 0 0/100% 100% no-repeat;
}