doctype html
html(lang='ru' ng-app='yoApp')
	include inc/head
	body 
		include inc/header
		div(data-ng-include data-src="'partials/header-' + ((device == 'normal') ? 'normal' : 'mobile') + '.html'")
		.layout(ng-view='' ui-view)
		
		include inc/script 
