link(href='styles/ipad-portrait.css' rel='stylesheet')

.section.section-home
	.section-home__figure-0.g-abs
	.section-home__figure-1.g-abs
	.section-home__figure-2.g-abs

	.content

		.section-home__showreel
			.section-home__showreel-triangle.section-home__showreel-triangle-front
				.section-home__showreel-triangle-inner.section-home__showreel-triangle-inner-main
				
			.section-home__showreel-triangle.section-home__showreel-triangle-back

			a.section-home__showreel-label(href=jv0)
				.section-home__showreel-play


		.section-home__quote
			| Maybe not from the sources
			br
			| You have poured yours
			br
			| Maybe not from the directions
			br
			| You are staring at
			br
			| Trust your head around
			br
			| It's all around you...
